main {
	background-color: rgb(228, 226, 226);
	transition:
		backdrop-filter 0.3s ease 0s,
		background 0.3s;

	.menu-open & {
		position: relative;
		z-index: 2;
		backdrop-filter: blur(0.9375rem);
		background: rgba(30, 30, 30, 0.6);
	}
}

.header {
	.menu-open & {
		position: relative;
		z-index: 3;
	}

	&__container {
	}

	&__top[class] {
		@media (max-width: $mobile) {
			display: none;
		}
	}

	&__close-menu-mob {
		@media (min-width: toEm(576.02)) {
			display: none;
		}

		background-color: #fff;
		top: -100%;
		text-align: center;
		position: fixed;
		z-index: 2;
		padding-block: 1.25rem;
		transition: top 0.3s;
		left: 0;
		right: 0;

		.menu-open & {
			top: 3.5rem;

			@media (max-width: $mobileXSmall) {
				top: 2.75rem;
			}
		}
	}
}

.topheader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 0.6875rem;
	border-bottom: 0.0625rem solid #ececec;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		bottom: -0.0625rem;
		left: -624.9375rem;
		width: 62499.9375rem;
		height: 0.0625rem;
		background-color: #ececec;
	}

	@media (max-width: $tablet) {
		padding-block: 0.25rem;
	}

	&__social {
		display: flex;
		align-items: center;
		gap: toRem(14);

		@media (max-width: toEm(960)) and (min-width: toEm(768)) {
			gap: toRem(8);
		}

		@media (max-width: $mobile) {
			gap: toRem(20);
			// margin-bottom: toRem(20);
		}
	}

	&__right {
		display: flex;
		align-items: center;
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: toRem(38);
		height: toRem(38);
		border-radius: 50%;
		transition: background-color 0.3s ease-in-out;

		&_whatsapp {
			background-color: #2cb742;

			&:hover {
				background-color: #289e3b;
			}
		}

		&_vk {
			background-color: #07f;

			&:hover {
				background-color: #0b6bd8;
			}
		}

		&_telegram {
			background-color: #069ce6;

			&:hover {
				background-color: #0f85c0;
			}
		}
	}

	&__mail {
		display: flex;
		align-items: center;
		gap: toRem(10);

		@media (max-width: $tablet) {
			display: none;
		}

		@media (max-width: $mobile) {
			//  gap: toRem(0);
		}

		@include adaptiveValue("margin-right", 224, 20, 0, 1290, 992);
	}

	&__contakts {
		margin-left: auto;

		@media (max-width: toEm(960)) {
			display: flex;
			flex-direction: column;
			gap: toRem(10);
		}

		@media (max-width: $mobile) {
			margin-left: 0;
			gap: 0.5rem;
			margin-block: 1.25rem;
		}

		span {
			margin-inline: toRem(10);

			@media (max-width: toEm(960)) {
				display: none;
			}
		}
	}

	&__phone {
		font-weight: 600;
		font-size: 1rem;
		color: #000;
	}

	&__button {
		margin-left: 1.875rem;
		display: flex;
		align-items: center;
		gap: toRem(6);
		border: 0.0938rem solid #34ef34;
		border-radius: 6.25rem;
		padding: 0.625rem toRem(16);

		@media (max-width: toEm(960)) {
			margin-left: 0.9375rem;
		}

		@media (max-width: $mobile) {
			margin-left: 0;
			margin-bottom: 1.25rem;
		}

		span {
			font-weight: 600;
			font-size: 0.75rem;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			color: #333;
		}
	}
}

.bottomheader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1.25rem;

	@media (max-width: $mobile) {
		padding-block: 0.25rem;
	}

	&__left {
		display: none;

		@media (max-width: $mobile) {
			position: relative;
			z-index: 6;
			display: flex;
			gap: toRem(20);
		}

		@media (max-width: toEm(650)) {
			order: 2;
		}

		@media (max-width: $mobileSmall) {
			gap: 0.625rem;
			margin-left: auto;
			justify-content: initial;
		}
	}

	.left-bottomheader {
		&__link {
			@media (max-width: toEm(650)) {
				&_icon {
					order: 1;
				}

				&.burger {
					order: 2;
				}
			}
		}
	}

	.burger,
	.left-bottomheader__link_call,
	.header__close-menu-mob-icon {
		&:active path {
			fill: $hover;
		}
	}

	&__logo {
		flex: 0 0 13.75rem;
		padding-bottom: toRem(20);
		@media (min-width:toEm(992.02)) {
			  margin-right: toRem(10);
		}
		@media (max-width: toEm(992.02)) {
			@include adaptiveValue("flex-basis", 220, 190, 0, 1290, 992);
		}

		@media (max-width: $mobile) {
			padding-bottom: 0;
		}

		@media (max-width: $tablet) {
			.header__top & {
				padding-bottom: 0;
			}
		}

		@media (max-width: toEm(650)) {
			order: 0;
		}

		@media (max-width: $mobileSmall) {
			@include adaptiveValue("flex-basis", 190, 144, 0, 567, 380);
		}

		&:not(.bottomheader__logo_mini) {
			@media (max-width: $tablet) {
				display: none;
			}

			@media (max-width: $mobile) {
				display: block;
				position: relative;
				z-index: 6;
			}
		}

		&_mini {
			@media (min-width: 62.0313rem) {
				display: none;
			}

			@media (max-width: $tablet) {
				width: 12rem;
				position: relative;
				z-index: 6;
			}
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	&__menu {
	}

	&__actions {
		display: flex;
	}
}

.menu {
	&__icon {
	}

	&__body {
	}

	&__list {
		display: flex;
		align-items: center;
		// gap: toRem(70);
		flex-wrap: wrap;

		@media (max-width: $mobile) {
			align-items: flex-start;
		}
	}

	&__item {
		cursor: pointer;
		position: relative;
		padding-bottom: 1.25rem;

		@media (max-width: $mobile) {
			width: 100%;
			margin-right: 0;
			margin-bottom: 0;
			padding-top: 1.25rem;
			border-bottom: 0.0625rem solid #ececec;

			&._submenu-active {
				padding-bottom: toRem(0);
			}
		}

		&:not(:last-child) {
			// &:not(.menu__item_catalog) {
			@media (min-width: toEm(992)) {
				@include adaptiveValue("margin-right", 70, 8, 0, 1290, 992);
			}

			@media (max-width: $tablet) and (min-width: 48.0012rem) {
				// margin-right: toRem(70);
				@include adaptiveValue("margin-right", 70, 12, 0, 992, 768);
			}

			// }
		}

		&:hover {
			.menu__submenu-list {
				opacity: 1;
				visibility: visible;
				top: 100%;
				z-index: 4;
			}

			.menu__submenu-title:not(.main-catalog) {
				@media (min-width: toEm(768.02)) {
					color: $hover;

					& + svg {
						rotate: 180deg;

						path {
							fill: $menu;
						}
					}
				}
			}
		}

		&_catalog {
			// padding-right: toRem(64);
			@include adaptiveValue("margin-right", 64, 10, 0, 1290, 992);

			@media (max-width: $tablet) {
				// margin-right: toRem(64);
				@include adaptiveValue("margin-right", 64, 20, 0, 992, 768);
			}

			@media (max-width: $mobile) {
				padding-top: 0;
				margin-right: 0;
				&:has(.menu__submenu-wrap) {
					padding-bottom: 0;
				}

				.menu__submenu-top {
					display: none;
				}

				.menu__submenu-item:last-child {
					border-bottom: none;
				}
			}

			letter-spacing: 0.04em;
			color: #333;
			transition: background-color 0.3s;

			.menu__submenu-title {
				font-size: toRem(14);
			}

			.menu__submenu-top {
				span,
				a {
					translate: 0 0.125rem;
					text-transform: uppercase;
				}
			}

			&:hover {
				.menu__submenu-wrap {
					background-color: #34ef34;
				}

				.menu__submenu-top svg path {
					stroke: black;
				}
			}
		}

		&_about {
			@media (max-width: $mobile) {
				.menu__submenu-list {
					height: 0;
					overflow: hidden;
					transition: height 0.3s ease;
				}

				// margin-top: toRem(56);
			}
		}

		&_form {
			@media (min-width: toEm(768.02)) {
				display: none;
			}

			position: fixed;
			left: -100%;
			z-index: 40;
			background-color: white;
			width: 19.375rem;
			padding-inline: 2.4375rem;
			top: 3.5rem;
			transition:
				left 0.3s,
				top 0.3s;

			@media (max-width: $mobileSmall) {
				padding-inline: 2.0625rem;
				width: 100%;
				left: 0;
				top: -100%;
			}

			.menu-open & {
				left: 0;

				@media (max-width: $mobileSmall) {
					top: 7.3125rem;
				}

				@media (max-width: $mobileXSmall) {
					top: 6.5625rem;
				}
			}

			.searchform {
				display: flex;
				align-items: center;
				gap: toRem(10);
				justify-content: space-between;
			}

			.searchsubmit {
				width: 1.25rem;
				height: 1.25rem;
				position: relative;

				&::before {
					content: "\f130";
					font-size: toRem(20);
					color: $menu;
					top: 0;
					left: 0;
					position: absolute;
					font-family: "woodmart-font";
				}
			}
		}
	}

	&__submenu-wrap {
		transition: background-color 0.3s;

		@media (max-width: $mobile) {
			//  display: none;
		}

		.menu__item_catalog & {
			border: 0.0938rem solid #34ef34;
			border-radius: 6.25rem;
			padding: 0.75rem 1.5rem 0.75rem 1.5rem;

			@media (max-width: $mobile) {
				padding: initial;
				border: none;
				border-radius: initial;
			}
		}
	}

	&__submenu-top {
		display: flex;
		align-items: center;
		gap: toRem(6);
		font-weight: 600;

		@media (max-width: $mobile) {
			// display: none;
			justify-content: space-between;
		}
	}

	&__submenu-icon {
		path {
			transition: stroke 0.3s;
		}
	}

	&__submenu-title {
		font-weight: 600;
		font-size: 0.9375rem;
		color: $menu;
		transition: color 0.3s;

		& + svg {
			transition: rotate 0.3s;

			@media (max-width: $mobile) {
				rotate: -90deg;
			}

			path {
				transition: fill 0.3s;
			}
		}

		&_mobile {
			display: none;

			@media (max-width: $tablet) {
				// display: block;
			}

			@media (max-width: $mobile) {
				._submenu-active & {
					color: $hover;
				}
			}
		}

		&_desktop {
			@media (max-width: $tablet) {
				// display: none;
			}
		}
		.touch & {
			&_mobile {
				display: block;
			}

			&_desktop {
				display: none;
			}
		}
		html:not(.touch) & {
			&_desktop {
				display: block;
			}
		}
	}

	&__submenu-arrow {
		transition: rotate 0.3s;

		._submenu-active & {
			rotate: 0deg;

			path {
				fill: $menu;
			}
		}
	}

	&__submenu-list {
		padding-top: toRem(20);
		position: absolute;
		padding: toRem(24) toRem(30);
		top: 110%;
		min-width: 15.625rem;
		left: 0;
		background-color: #fff;
		z-index: 2;
		opacity: 0;
		visibility: hidden;
		border-radius: 1rem;
		box-shadow: 0 0 0.9375rem 0 rgba(0, 0, 0, 0.1);
		transition:
			opacity 0.3s,
			visibility 0.3s,
			top 0.3s;

		@media (max-width: $mobile) {
			opacity: 1;
			visibility: visible;
			position: relative;
			padding: 0;
			// top: 63px;
			top: 0;
			left: initial;
			border-radius: initial;
			box-shadow: initial;
			min-width: initial;
		}
		@media (max-width: $mobileSmall) {
			left: -0.0625rem;
			width: calc(100% + 0.125rem);
		}
	}

	&__submenu-item {
		@media (min-width: toEm(768.02)) {
			position: relative;
			&:hover,
			&._sub-sub-active {
				.subsubmenu__title,
				.menu__submenu-link {
					color: $hover;
				}

				.subsubmenu__top svg path {
					fill: $menu;
				}
			}
		}

		@media (max-width: $mobile) {
			._submenu-active & {
				border-bottom: none;
				padding-bottom: 0;
			}
		}

		&:not(:last-child) {
			margin-bottom: toRem(18);

			@media (max-width: $mobile) {
				margin-bottom: 0;
			}
		}

		@media (max-width: $mobile) {
			padding-block: toRem(20);
			border-bottom: 0.0625rem solid #ececec;

			._sub-sub-active & {
				border-bottom: none;
			}
		}
	}

	&__submenu-link {
		transition: color 0.3s;
	}

	&__submenu-subsubmenu-wrap {
	}

	&__link {
		font-weight: 600;
		font-size: 0.9375rem;
		color: $menu;
	}
}

.icon-menu {
}

.subsubmenu {
	@media (max-width: $mobile) {
		//  display: none;
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: toRem(6);

		svg path {
			transition: fill 0.3s;
		}
	}

	&__title {
		transition: color 0.3s;

		@media (max-width: $mobile) {
			line-height: 1.6;

			._sub-sub-active & {
				color: $hover;
			}
		}

		& + svg {
			flex: 0 0 1rem;
		}
	}

	&__icon {
		transition: rotate 0.3s;

		._sub-sub-active & {
			rotate: 90deg;

			path {
				fill: $menu;
			}
		}
	}

	&__list {
		// padding-top: toRem(20);
		position: absolute;
		padding: toRem(24) toRem(30);
		top: -1.25rem;
		min-width: 9.375rem;
		left: 102%;
		background-color: #fff;
		z-index: 3;
		opacity: 0;
		visibility: hidden;
		border-radius: 1rem;
		box-shadow: 0 0 0.9375rem 0 rgba(0, 0, 0, 0.1);
		transition:
			opacity 0.3s,
			visibility 0.3s,
			left 0.3s;
		@media (min-width: toEm(768.02)) {
			width: max-content;
			max-width: 18.75rem;
		}
		@media (max-width: $mobile) {
			opacity: 1;
			visibility: visible;
			position: relative;
			padding: 0;
			top: initial;
			left: initial;
			border-radius: initial;
			box-shadow: initial;
			min-width: initial;
			height: 0;
			overflow: hidden;
			transition: height 0.3s ease;
		}

		&._sub-sub-menu-active {
			@media (min-width: toEm(768.02)) {
				opacity: 1;
				visibility: visible;
				left: calc(100% + 1.25rem);
				pointer-events: auto;
			}

			@media (max-width: $mobile) {
				margin-top: toRem(20);
				padding: toRem(20);
				background: #f6f6f6;
			}
		}
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}

	&__link {
	}
}

.actions {
	display: flex;
	align-items: center;
	gap: toRem(20);
	padding-bottom: toRem(20);

	@media (max-width: $mobile) {
		padding-bottom: 0;
		position: relative;
		z-index: 6;
	}

	@media (max-width: toEm(650)) {
		order: 1;
	}

	@media (max-width: $mobileXSmall) {
		margin-inline: auto;
	}

	&__icon {
		position: relative;
		width: 1.25rem;
		height: 1.25rem;

		@media (max-width: $mobile) {
			width: 1.5rem;
			height: 1.5rem;
		}

		@media (max-width: toEm(650)) {
			&:not(.actions__icon_cart) {
				display: none;
			}
		}

		&::before {
			content: "";
			font-size: toRem(20);

			@media (max-width: $mobile) {
				font-size: toRem(24);
			}

			color: $menu;
			position: absolute;
			font-family: "woodmart-font";
		}

		&:not(.actions__icon_search)::after {
			content: "1";
			position: absolute;
			width: 0.9375rem;
			height: toRem(15);
			border-radius: 50%;
			display: grid;
			place-items: center;
			font-size: toRem(9);
			right: -0.5625rem;
			top: -0.3125rem;
			background-color: $hover;
		}

		&_search {
			&::before {
				content: "\f130";
			}
		}

		&_compire {
			&::before {
				content: "\f128";
			}
		}

		&_favorite {
			&::before {
				content: "\f106";
			}
		}

		&_cart {
			&::before {
				content: "\f105";
			}
		}
	}
}

.wd-tools-text {
	@media (max-width: toEm(410)) {
		display: none;
	}
}

.wd-cart-subtotal {
}

.woocommerce-Price-amount {
}

.amount {
	font-weight: 600;
	color: $menu;
}

.woocommerce-Price-currencySymbol {
}
