@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.woff2") format("woff2"),
    url("../fonts/Manrope-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*@font-face {
  font-family: "Manrope1";
  src: url("../fonts/Manrope-Regular1.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}*/


@font-face {
  font-family: "Manrope1";
  src: url("../fonts/Manrope-Regular1.woff2") format("woff2"),
    url("../fonts/Manrope-Regular1.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope-semibold";
//   src: url("../fonts/Manrope-SemiBold.ttf") format('truetype');
  src: url("../fonts/Manrope-Semibold1.woff2") format("woff2"),
  url("../fonts/Manrope-Semibold1.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope-bold";
  //src: url("../fonts/Manrope-Bold.ttf") format('truetype');
  src: url("../fonts/Manrope-Bold.woff2") format("woff2"),
  url("../fonts/Manrope-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope-medium";
  //src: url("../fonts/Manrope-Medium.ttf") format('truetype');
  src: url("../fonts/Manrope-Medium.woff2") format("woff2");
  //  url("../fonts/Manrope-Medium1.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Unbounded-semibold";
  src: url("../fonts/Unbounded-Semibold.woff2") format("woff2"),
    url("../fonts/Unbounded-Semibold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Unbounded-regular";
  src: url("../fonts/Unbounded-Regular.woff2") format("woff2"),
    url("../fonts/Unbounded-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Unbounded-medium";
  src: url("../fonts/Unbounded-Medium.woff2") format("woff2"),
    url("../fonts/Unbounded-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Unbounded-bold";
  src: url("../fonts/Unbounded-Bold.woff2") format("woff2"),
    url("../fonts/Unbounded-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM";
  src: url("../fonts/IBMPlexSans.woff2") format("woff2"),
    url("../fonts/IBMPlexSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM-semibold";
  src: url("../fonts/IBMPlexSans-SemiBold.woff2") format("woff2"),
    url("../fonts/IBMPlexSans-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

