$containerWidth:1460px;
$minWidth:380px;

$color-zagolovki: #0c0e0d;
$color-kontent: #5c6361;
$color-zelenyy: #c4f756;
$color-zelenyy-hover: #aae233;
$color-zelenyy-01: #01a572;
$color-zelenyy-02: #017e5e;
$color-zelenyy-03: #b2e9d5;
$color-seryy-00: #548271;
$color-seryy-01: #7ba193;
$color-seryy-01-1: #e4eeea;
$color-seryy-01-2: #f2f7f5;
$color-belyy: #fff;