@media only screen and (max-width: 1500px) {
body {
    zoom: 0.85;
	
}
}

.acf-field-630391040fb4b {
    background: green !important;
}

.mce-i-text_middle {
    background: url(../Goodini/assets/i/icon-m.svg) center no-repeat !important;
    background-size: 12px !important;
}
.mce-i-text_big {
    background: green !important;
}

#edittag {
    max-width: none;
}
.preg {
	color: green;
}
strong {
	color: #000;
}
.form-table {	
    background: #fff;
    max-width: 1600px;
    margin: 10px 0 20px;
}
.form-table th,
.form-table>tbody>.acf-field>.acf-label {
    padding: 20px 15px;
}
#adminmenu .wp-menu-image img {
    width: 20px;
}

.acf-flexible-content .layout {
    border: 1px solid #ddd !important;
}
.acf-flexible-content .layout .acf-fc-layout-order {
    margin: 0 10px 0 0;
    letter-spacing: -0.5px;
    font-weight: bold;
    color: #000;
}
.acf-flexible-content .layout .acf-fc-layout-handle {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 13px;
    font-weight: 600;
}
.acf-flexible-content .layout[data-layout="columns"] .acf-fc-layout-handle {
    background: #00b96c;
    color: #fff;
}
.acf-flexible-content .layout[data-layout="bullets"] .acf-fc-layout-handle {
    background: #00b4d4;
    color: #fff;
}
.acf-flexible-content .layout[data-layout="boss"] .acf-fc-layout-handle {
    background: #ef3c52;
    color: #fff;
}
.acf-flexible-content .layout[data-layout="lists"] .acf-fc-layout-handle {
    background: #e87238;
    color: #fff;
}
.acf-flexible-content .layout[data-layout="cases"] .acf-fc-layout-handle {
    background: #3781ea;
    color: #fff;
}
.acf-flexible-content .layout[data-layout="banner-cart"] .acf-fc-layout-handle {
    background: #ec5433;
    color: #fff;
}
.acf-flexible-content .layout[data-layout="cards"] .acf-fc-layout-handle {
    background: #0f52b1;
    color: #fff;
}
.acf-flexible-content .layout[data-layout="promotion"] .acf-fc-layout-handle {
    background: #d40000;
    color: #fff;
}
.acf-flexible-content .layout[data-layout="catalog"] .acf-fc-layout-handle {
    background: #b10f9d;
    color: #fff;
}


.acf-field .acf-label label {
    color: #304254;
}
.acf-field-message  {
    background: #ffffff;
    border: 0;
    border-top: 10px solid #e5f4fb !important;
    border-bottom: 10px solid #e5f4fb !important;
}
.acf-accordion .acf-accordion-title label {
    color: #007cba;
    font-size: 14px;
}
.acf-fields.-border {
    border: 0;
    background: #fff;
}
.acf-switch {
    background: #eee;
    border: 0;
}
.acf-switch.-on {
	background: #46b450;
    border-color: #46b450;
}
.acf-switch.-on .acf-switch-slider {
    border-color: #fff;
}
.acf-field-message .acf-label  {
    margin: 0;
}
.strong {
    font-weight: bold;
}
.acf-fields>.acf-field.acf-field-group>.acf-label label{
    font-size: 14px;
    color: #007cba;
}

.acf-field-message .acf-label label {
    text-transform: uppercase;
    color: #007cba;
    text-align: center;
    font-size: 16px;
    margin: 0;
}
.acf-field input[type="text"], .acf-field input[type="password"], .acf-field input[type="date"], .acf-field input[type="datetime"], .acf-field input[type="datetime-local"], .acf-field input[type="email"], .acf-field input[type="month"], .acf-field input[type="number"], .acf-field input[type="search"], .acf-field input[type="tel"], .acf-field input[type="time"], .acf-field input[type="url"], .acf-field input[type="week"], .acf-field textarea, .acf-field select {
    border: 1px solid #c1cad2;
}
.acf-field .acf-label p a {
	color: #0073aa;
    background: #e5f4fb;
    padding: 1px 5px;
    border-radius: 3px;
    display: inline-block;
    font-style: normal;
}
.acf-field .acf-label p a:hover {
    text-decoration: none;
}


.acf-repeater .acf-row-handle.order+td {
    border-top: 2px solid #b9c2cc;
    padding: 15px 0 !important;
}
@media only screen and (min-width: 1300px) {
.acf-field-checkbox.acf-field-5dd6dbf56cd02 ul,
.acf-field-checkbox.acf-field-5ea24bbbe43ce ul,
.acf-field-checkbox.acf-field-6204d4777a457 ul,
.acf-field-checkbox.acf-field-5ea24c1ae43cf ul{
    column-count: 2;
}
}

input[value="Опубликовать"],
input[value="Обновить"],
input#publish{
    background: #46b450 !important;
    border-color: #46b450 !important;
	color: #fff;
}
input[value="Опубликовать"]:focus,
input[value="Обновить"]:focus,
input#publish:focus {
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #46b450;
}
a.preview.button {
    display: none;
}
#post-body {
	display: grid;
	grid-template-rows: repeat(auto-fill, minmax(15px, 1fr));
	grid-template-columns: 1fr 280px;
	grid-template-areas:
		"post-body-content postbox-container-1"
		"postbox-container-2 postbox-container-1";
	grid-gap: 20px;
}
#post-body-content {
	grid-area: post-body-content;
    width: auto;
}
#post-body-content, .edit-form-section {
    margin-bottom: 0;
}
#postbox-container-1 {
	grid-area: postbox-container-1;
}
#postbox-container-2 {
	grid-area: postbox-container-2;
    width: auto;
}
#poststuff #post-body.columns-2 {
    margin-right: 0;
}
#poststuff #post-body.columns-2 #side-sortables {
    position: sticky;
    top: 52px;
}


.taxonomy-catalog_category #acf-term-fields {
    display: none;
}
.taxonomy-catalog_category .acf-field[data-key="field_5cb6c0cdff346"],
.taxonomy-catalog_category .acf-field[data-key="field_5dd7ea764efd8"] {
    width: 50%;
    float: left;
    clear: inherit;
}
.taxonomy-catalog_category .acf-field[data-key="field_610130ac98c55"] {
    flex: 1 0 auto;
}
.taxonomy-catalog_category .form-field.term-description-wrap {
    display: none;
}
.taxonomy-catalog_category .form-field .description{
    display: none;
}
.taxonomy-catalog_category .form-field th,
.taxonomy-catalog_category .form-field input[type=text]{
    width: auto;
}
.taxonomy-catalog_category .form-table:nth-of-type(1) > tbody {
    display: flex;
}
.taxonomy-catalog_category .form-table > tbody > .acf-field {
    display: flex;
    flex-direction: column;
}
.taxonomy-catalog_category .form-table>tbody>.acf-field>.acf-label {
    padding: 5px 20px;
    width: auto;
}

.wp-list-table #image {
    width: 70px !important;
}
.wp-list-table #code {
    width: 70px !important;
}

@media only screen and (max-width: 850px) {
#post-body {
	display: grid;
	grid-template-rows: repeat(auto-fill, minmax(15px, 1fr));
	grid-template-columns: 1fr;
	grid-template-areas:
		"post-body-content"
		"postbox-container-1"
		"postbox-container-2";
	grid-gap: 20px;
}
#wpbody-content #post-body.columns-2 #postbox-container-1 {
    margin-right: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;

}
#poststuff #post-body.columns-2 #side-sortables {
    display: flex;
    flex-direction: column;
}
.postbox, .stuffbox {
    margin-bottom: 0;
}
}
