.blogs {

	&__popular {
		@include adaptiveValue("margin-top", 100, 80, 0, 1920, 1360);
		
		@media (max-width: toEm(768)) {
			padding-right: 0;
		}

		@media (max-width:$pc) {
			margin-bottom: 5rem;
		}

		@media (max-width:$tablet) {
			margin-bottom: 4.375rem;
		}

		@media (max-width:$mobile) {
			margin-bottom: 3.75rem;
		}

		@media (max-width:36rem) {
			margin-bottom: 3.125rem;
			margin-top: toRem(60);
		}

		@media (max-width: toEm($mobileSmall)) {
			margin-top: toRem(50);
		}
	}
}

.popular {
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 70px;

		@media (max-width:$pc) {
			margin-bottom: 60px;
		}

		@media (max-width:$mobile) {
			margin-bottom: 40px;
			justify-content: center;
		}

		@media (max-width:$mobileSmall) {
			margin-bottom: 30px;
		}
	}

	// .posts__list {
	// 	@media (max-width:$pc){
	// 		 grid-template-columns: 1fr 1fr; 
	// 	}
	// 	@media (max-width: toEm(700)){
	// 		  grid-template-columns: initial;
	// 		  display: flex;
	// 	}
	// 	@media (max-width:$mobileSmall){
	// 		 column-gap: toRem(10); 
	// 	}
	// }
	&__control {
		display: flex;
		column-gap: 20px;

		@media (max-width:$mobile) {
			display: none;
		}
	}

	&__title {}

	&__list {}
}

.popular .blogs__title {
	margin-bottom: 0;
}

.container {}

.posts {

	&__post {
		@media (max-width: toEm(700)) {
			flex: 0 0 330px;
		}
	}
}

.post {

	&__header {
		.popular & {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}

	&__img {
		.popular & {
			width: 44px;
		}
	}

	&__profile-icon {}

	&__user-info {}

	&__username {
		.popular & {
			font-size: 14px;
		}
	}

	&__role {
		.popular & {
			font-size: 13px;
		}
	}

	&__content {}

	&__title-link {
		.popular & {
			font-size: 16px;

			&+.post__text {
				display: -webkit-box;
				-webkit-line-clamp: 3;
			}
		}
	}

	&__text {
		.popular & {
			font-size: 14px;
		}
	}

	&__comments {
		margin-top: 20px;
	}

	&__footer {
		.popular & {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}

	&__avatar-mini {
		.popular & {
			width: 62px;
			height: 34px;
		}
	}

	&__avatar-link {
		.popular & {
			width: 34px;
		}
	}

	&__avatar-icon {}

	&__reaction-counts {}

	&__likes {}

	&__views {}

	&__reply {}

	&__reply-button {}
}

.comments-post {
	&__item {
		border: 1px dashed $color-seryy-01-1;
		border-radius: 8px;
		padding: 15px;

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		.post__img {
			width: 34px;
		}

		.post__header {
			column-gap: 15px;
			align-items: center;
		}
	}
}

.button {}