.blog {
	&__content {
		@media (min-width:$pc){
			display: grid;
			grid-template-columns: auto 335px;
			gap: toRem(40);
			  
		}
		margin-bottom: toRem(110);
		@media (max-width:$pc){
			& > *:not(:last-child) {
				margin-bottom: toRem(80);
			}
			//  grid-template-columns: 1fr;
		}
	}

	&__article {
	}

	&__comments {
		grid-row: 2/3;
	}
	
}
.container {
}

.article-blog {
	&__part {
		margin-bottom: toRem(50);
		&_ol {
			ol {
				counter-reset: my-counter;
			}
			margin-top: toRem(60);
			padding: 40px;
			.article-blog__subsubtitle {
				margin-bottom: toRem(30);
			}
		}
		&_table {
			margin-top: toRem(100);
			.blogs__title {
				margin-bottom: toRem(60);
			}
		}
	}

	&__text {
		line-height: 1.8;
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}

	&__subtitle {
		font-weight: 500;
		font-size: toRem(24);
		line-height: 1.5;
		font-family: "Unbounded-medium";
		color: $color-zagolovki;
		margin-bottom: toRem(15);
	}

	&__footnote {
		display: flex;
		background: $color-belyy;
		border: 1px dashed $color-seryy-01-1;
		border-radius: 12px;
		padding: 25px 30px 30px 30px;
		gap: toRem(30);
	}

	&__img {
		flex: 0 0 160px;
	}

	&__footnote-img {
	}

	&__note {
	}

	&__quote {
		margin-block: toRem(70);
		.form-add__description {
			margin-bottom: toRem(20);
		}
		.post__img {
			width: 44px;
		}
		.post__role {
			font-size: toRem(13);
		}
	}

	&__subsubtitle {
		@extend .article-blog__subtitle;
		font-size: toRem(18);
	}

	&__list-wrap {
		padding: 40px;
		border: 1px dashed $color-seryy-01-1;
		border-radius: 12px;
		.article-blog__subsubtitle {
			font-size: toRem(20);
			margin-bottom: toRem(30);
		}
	}
	&__list {
		column-count: 2;
		column-gap: toRem(60);

		&_ol {
			column-gap: toRem(80);
		}
	}

	&__item {
		position: relative;
		display: flex;
		align-items: center;
		padding-left: toRem(34);
		ol & {
			align-items: flex-start;
			padding-left: toRem(39);
		}
		ul &::before {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 12px;
			width: toRem(6);
			height: toRem(6);
			background-color: $color-zelenyy-01;
			border-radius: 50%;
		}
		ol &::before {
			counter-increment: my-counter;
			content: counter(my-counter);
			width: toRem(24);
			height: toRem(24);
			background: linear-gradient(132deg, #0dbd86 0%, #099a75 99.06%);
			border-radius: 50%;
			position: absolute;
			left: 0;
			display: grid;
			place-items: center;
			font-family: "IBM-semibold";
			color: $color-belyy;
			font-size: toRem(12);
			line-height: 1.83;
		}
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}

	&__table {
	}
}
.article-subsubtitle {
}
.form-add {
	&__inner {
	}

	&__wrap {
	}

	&__description {
	}

	&__form {
	}

	&__section {
	}

	&__section--name {
	}

	&__label {
	}

	&__text {
	}

	&__user {
	}

	&__text--name {
	}

	&__section--tel {
	}

	&__text--tel {
	}

	&__section--textarea {
	}

	&__comment {
	}

	&__section--checkbox {
	}

	&__checkbox {
	}

	&__label--checkbox {
	}

	&__send {
	}
}
.post {
	&__header {
	}

	&__img {
	}

	&__profile-icon {
	}

	&__user-info {
	}

	&__username {
	}

	&__role {
	}
}

.article-blog__table {
	width: 100%;
	border-collapse: collapse;
}

.table-article__row {
	display: flex;
	width: 100%;
	.table-article__cell:first-child {
		font-family: "Manrope-bold";
	}
	&:not(.table-article__row_header) {
		color: $color-zagolovki;
	}

	&:not(.table-article__row_header) .table-article__cell:nth-child(2) {
		font-size: toRem(14);
		color: $color-kontent;
	}
	&:not(.table-article__row_header) .table-article__cell:nth-child(3) {
		font-size: 20px;
		line-height: 100%;
		color: #f36515;
		font-family: "Unbounded-Bold";
		span {
			font-size: toRem(13);
			font-family: 'Manrope1';
		}
	}
	
	
	&:nth-child(even) {
		.table-article__cell {
			background-color: $color-belyy;
			// color: $color-zagolovki;
		}
	}
	&:nth-child(odd) {
		.table-article__cell {
			background-color: $color-seryy-01-2;
		}
		.table-article__cell:first-child {
			border-radius: 8px 0 0 8px;
		}
		.table-article__cell:last-child {
			border-radius: 0 8px 8px 0;
		}
	}
	.table-article__cell:not(:last-child) {
		border-right: 1px dashed $color-seryy-01-1;
	}
}

.table-article__row_header {
	.table-article__cell {
		font-size: 18px;
		line-height: 150%;
		font-family: "Manrope-bold";
		color: $color-zelenyy-01;
	}
}

.table-article__cell {
	padding: 24px;
	flex: 1;
	text-align: left;
	word-wrap: break-word;
	overflow: hidden;
	line-height: 1.5;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	// max-height: 96px;
	
}

.table-article__cell:first-child {
	flex: 0 0 315px;
	@media (max-width:$pc){
		 flex: 0 0 26.923077%; /* 315/1170 */
	}
}

.table-article__cell:nth-child(2) {
	// flex: 0 0 610px;
	@media (max-width:$pc){
		//  flex: 0 0 59.401709%; /* 695/1170 */
	}
}

.table-article__cell:nth-child(3) {
	flex: 0 0 160px;
	@media (max-width:$pc){
		//  flex: 0 0 26.923077%; /* 315/1170 */
	}
}

.table-article__cell:last-child {
	// flex: 1;
	//   color: #f26a2e;
	//   text-align: right;
}

.table-article {
	&__row {
		&_header {
		}
	}

	&__cell {
	}
}
.comments-blog {
	&__title {
	}
}
.form-callback {
}
.visually-hidden {
}
.button {
}
.callback-form {
	&__wrap {
	}

	&__title {
	}

	&__close-btn {
	}
}
