.blog {
	&__aside {
		@media (max-width: $pc) {
			//  display: none;
		}
	}
}
.asideblog {
	&__part {
		&:not(:last-child) {
			margin-bottom: toRem(60);
		}
		&_cases {
			@media (max-width: $pc) {
				display: none;
			}
		}
	}

	&__list {
	}

	&__item {
		@media (min-width: $pc) {
			&:nth-child(n + 4) {
				display: none;
			}
		}
		&:not(:last-child) {
			margin-bottom: toRem(40);
		}
	}
}
.article-blog {
	&__subtitle {
		.asideblog & {
			margin-bottom: toRem(40);
		}
	}
}
.posts {
	&__post {
	}
}
.post {
	&__header {
	}

	&__img {
	}

	&__profile-icon {
	}

	&__user-info {
	}

	&__username {
	}

	&__role {
	}

	&__content {
	}

	&__category-list {
	}

	&__category-item {
	}

	&__category-link {
	}

	&__title-link {
	}

	&__text {
	}

	&__footer {
	}

	&__avatar-mini {
	}

	&__avatar-link {
	}

	&__avatar-icon {
	}

	&__reaction-counts {
	}

	&__actions {
	}

	&__button {
	}
}
.icon-w20 {
}
.case {
	.asideblog & {
		border: none;
		outline: 1px solid $color-seryy-01-1;
		&:not(:last-child) {
			margin-bottom: toRem(40);
		}
	}
	&__wrap {
	}

	&__client-info {
	}

	&__img-wrap {
	}

	&__img {
	}

	&__link {
	}

	&__list {
	}

	&__item {
	}

	&__item--yandex {
	}

	&__orders {
	}

	&__overlay {
	}

	&__overlay-wrap {
	}

	&__overlay-wrap--goggle {
	}

	&__overlay-link {
	}

	&__overlay-wrap--yandex {
	}

	&__overlay-link--yandex {
	}
}
.button {
}
.js-open-modal {
}
.clients {
	&__show-all {
		.asideblog__part_cases & {
			position: static;
			max-width: initial;
			& span::before {
				display: none;
			}
		}
	}
}
