.blog {
	&__aside {
		@media (max-width: $pc) {
			//  display: none;
		}
	}
}

.asideblog {

	@media (max-width:$tablet){
		margin-right: -2.0625rem;
	}
	@media (max-width: toEm(576)){
		//   margin-right: -2.0625rem;
	}
	&__part {
		@media (max-width:$pc){
			 &:not(.asideblog__part_cases)[class] {
				 margin-bottom: toRem(0);
			 }
		}
		.clients__show-all {
			position: static;
			max-width: initial;
			width: auto;
			margin-left: auto;
			margin-right: 0;
			span {
				margin-left: initial;
				padding-right: 1.875rem;
				&::before {
					right: 0;
				}
			}
			&:not(.clients__show-all_mobile) {
				@media (max-width:$mobile){
					 display: none; 
				}
			}
			&_mobile {
				margin-top: toRem(40);
				display: inline-block;
				@media (min-width:toEm(700)){
					width: initial;
					position: relative;
					left: 50%;
					transform: translateX(-50%);
					  
				}
				@media (min-width:$mobile){
					 display: none; 
				}
				@media (max-width: toEm(700)){
					  width: calc(100% - 2.0625rem);

				}
				@media (max-width: toEm(576)){
					//   width: calc(100% - 2.0625rem);
					//   margin-right: 2.0625rem;
				}
			}
		}
		&:not(:last-child) {
			margin-bottom: toRem(60);
		}

		&_cases {
			@media (max-width: $pc) {
				display: none;
			}
		}
	}

	&__top {
		@media (max-width:$pc){
			margin-bottom: toRem(60);
			 display: flex; 
			 align-items: center;
			//  justify-content: space-between;
			 gap: toRem(40);
			 .article-blog__subtitle {
				 margin-bottom: toRem(0);
			 }
		}
		@media (max-width:$tablet) and (min-width:$mobile){
			margin-right: toRem(33);
		}
		@media (max-width:$mobile){
			 margin-bottom: toRem(40);
			justify-content: center;
			margin-right: 0;
		}
		@media (max-width:$mobileSmall){
			 margin-bottom: toRem(30); 
		}
		a.clients__show-all,
		& .popular__control {
			@media (min-width:$pc) {
				display: none;
			}
		}
		.popular__control {
			@media (max-width:$mobile){
				 display: none; 
			}
		}
	}
	&__slider {
		// width: 100%;
	// max-width: 100%;
	}
	&__list[class] {
		@media (min-width:$pc){
			 display: block; 
		}
	}

	&__item {
		// height: auto;
		.post__header {
			margin-bottom: toRem(20);
		}
		@media (min-width: $pc) {
			&:nth-child(n + 4) {
				display: none;
			}
		}

		&:not(:last-child) {
			@media (min-width:$pc){
				  
				margin-bottom: toRem(40);
			}
		}
	}
}

.article-blog {
	&__subtitle {
		.asideblog & {
			@media (min-width:$pc){
				  
				margin-bottom: toRem(40);
			}
		}
	}
}

.posts {
	&__post {}
}

.icon-w20 {}

.case {
	.asideblog & {
		border: none;
		outline: 0.0625rem solid $color-seryy-01-1;

		&:not(:last-child) {
			margin-bottom: toRem(40);
		}
	}
}

.button {}

.js-open-modal {}

.clients {
	&__show-all {
		.asideblog__part_cases & {
			position: static;
			max-width: initial;
			cursor: pointer;
			& span::before {
				display: none;
			}
		}
	}
}