.blog {
	&__comments {
		
		.form-add__form {
			grid-template-columns: repeat(3, 1fr);
			.form-add__section--textarea {
				grid-column: 1/4;
			}
		}
		.form-add__wrap {
			padding: 40px;
		}
		.form-add__section--checkbox {
			margin-top: toRem(30);
			grid-column: 1/2;
		}
		.form-add__label--checkbox {
			margin-bottom: toRem(0);
		}
		.form-add__send.button {
			grid-column: 3/4;
			margin-bottom: toRem(0);
			margin-top: toRem(30);
		}
	}
}
.form-add__text--email {
			background-image: url(../img/icon-email-two.svg)

}
.comments-blog {
	&__title {
	}
}
.form-add {
	&__inner {
		.comments-blog & {
			margin-bottom: 85px;
		}
	}
}

.form-add {

	&__inner {
	}

	&__wrap {
	}

	&__form {
	}

	&__section {
	}

	&__section--name {
	}

	&__label {
	}

	&__text {
	}

	&__user {
	}

	&__text--name {
	}

	&__section--tel {
	}

	&__text--tel {
	}

	&__section--email {
	}

	&__text--email {
	}

	&__section--textarea {
	}

	&__comment {
	}

	&__section--checkbox {
	}

	&__checkbox {
	}

	&__label--checkbox {
	}

	&__send {
	}
}
.form-callback {
}
.visually-hidden {
}
.button {
}
.callback-form {

	&__wrap {
	}

	&__title {
	}

	&__close-btn {
	}
}
.item-comments {

	&__comment {
	}

	&__answer {
	}
}
.posts {

	&__post {
	}

	&__pagination-item {

		&_more {
		}
	}

	&__pagination-link {
	}
}
.post {

	&__header {
	}

	&__img {
	}

	&__profile-icon {
	}

	&__user-info {
	}

	&__username {
	}

	&__role {
	}

	&__date {
	}

	&__content {
	}

	&__text {
	}

	&__footer {
	}

	&__reaction-counts {
	}

	&__actions {
	}

	&__button {
	}
}
.icon-w20 {
}
.dots {
}
