.blog {
	&__comments {
		.form-add__form {
			grid-template-columns: repeat(3, 1fr);
			@media (max-width: toEm(767)){
				  grid-template-columns: 1fr;
			}
			.form-add__section--textarea {
				grid-column: 1/4;
			}
			@media (max-width: toEm(767)){
				.form-add__section--name {
					grid-column: 1/2;
				}
				.form-add__section--tel {
					grid-column: 1/2;
				}
				.form-add__section--email {
					grid-column: 1/2;
				}
				.form-add__section--checkbox {
					grid-column: 1/2;
				}
				.form-add__send.button {
					grid-column: 1/2;
				}
				.form-add__section--textarea {
					grid-column: 1/2;
				}
			}
		}
		.form-add__wrap {
			padding: 2.5rem;
			@media (max-width: toEm(576)){
				  padding: 1.875rem;
			}
			@media (max-width:385px){
				  padding: 1.25rem; 
			}
		}
		.form-add__section--checkbox {
			margin-top: toRem(30);
			margin-bottom: toRem(0);
			grid-column: 1/3;
			@media (max-width: toEm(385)){
				 margin-top: toRem(20);
				 br {
					 display: none;
				 }
			}
		}
		.form-add__label--checkbox {
			margin-bottom: toRem(0);
		}
		.form-add__send.button {
			grid-column: 3/4;
			margin-bottom: toRem(0);
			margin-top: toRem(30);
			@media (max-width: toEm(385)){
				 margin-top: toRem(20); 
			}
		}
	}
}
.form-add__text--email {
	background-image: url(../img/icon-email-two.svg);
}
.comments-blog {
	&__title {
	}
}
.form-add {
	&__inner {
		.comments-blog & {
			margin-bottom: 4.375rem;
			@include adaptiveValue("margin-bottom", 55, 40,0,768,380);
		}
	}
}

.comments-blog {
	&__list {
		
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: toRem(40);
			@media (max-width:$mobile){
				 margin-bottom: toRem(30); 
			}
			@media (max-width:$mobileSmall){
				 margin-bottom: toRem(20); 
			}
		}
	}

	&__actions {
		margin-top: toRem(53);
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: toEm(700)){
			  flex-direction: column;
			  row-gap: toRem(20);
		}
		.posts__pagination-item {
			@media (max-width:$tablet){
				width: auto;
			}
			@media (max-width: toEm(700)){
				display: flex;
					 height: 3.5rem;
					 width: 100%;
			}
		}
		button.form-add__send[class] {
			margin-top: 0;
			height: auto;
			width: auto;
			line-height: 1.4;
			padding: 1.125rem 1.875rem;
			@media (max-width: toEm(700)){
				  width: 100%;
			}
		}
	}
}
.item-comments {
	.posts__pagination-item {
		@media (max-width:$tablet){
			width: auto;
		}
	}
	&__comment {
		position: relative;
	}

	&__arrow {
		flex: 0 0 1.5625rem;
		width: toRem(25);
		height: toRem(26);
		stroke: $color-seryy-01;
		@media (max-width:$mobileSmall){
			position: absolute;
		}
	}
	&__answer {
		display: flex;
		margin-left: toRem(30);
		margin-top: toRem(30);
		gap: toRem(30);
		@media (max-width: toEm(576)){
			margin-left: toRem(15);
			  gap: toRem(15);
		}
		@media (max-width:$mobileSmall){
			 margin-left: 0;
			 margin-top: toRem(20);
		}
		.post {
			@media (max-width: toEm(700)){
				  flex:1 0 89.215686%; /* 455/510 */
			}
			@media (max-width:$mobileSmall){
				flex: 1 0 100%; 
			}
		}
		.post__header {
			margin-bottom: toRem(20);
		}
	}
}
.posts {
	&__post {
		.comments-blog & {
				border: 0.0625rem dashed $color-seryy-01-1;
				&:hover{
					box-shadow: initial;
				}
			}
	}

	&__pagination-item {
		.comments-blog & {
			height: auto;
			border: 0.0625rem solid $color-seryy-01-1;
			border-radius: 0.5rem;
			padding: 14px 1.25rem;
			background: $color-belyy;
			font-size: 0.8125rem;
			font-family: "Manrope-medium";
			line-height: 140%;
			letter-spacing: 0.02em;
			color: $color-zelenyy-01;
			span {
				transition: color 0.3s;
			}
			&:hover{
				span {
				color: $color-zagolovki;
				position: relative;
				z-index: 2;
				}	
			}
		}
		&_more {
		}
	}

	&__pagination-link {
	}
}
.post {
	&__header {
		.item-comments__comment & {
			margin-bottom: toRem(20);
		}
	}

	&__img {
	}

	&__profile-icon {
	}

	&__user-info {
	}

	&__username {
	}

	&__data {
	}
	&__role {
	}

	&__date {
		margin-right: 1.25rem;
	}

	&__content {
	}

	&__text {
		.item-comments__comment & {
			padding-bottom: toRem(20);
			border-bottom: 0.0625rem dashed $color-seryy-01-1;
		}
	}

	&__footer {
		.comments-blog & {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__reaction-counts {
	}

	&__actions {
	}

	&__button {
	}
}
.icon-w20 {
}
.dots {
}
.form-add {
	&__send {
	}
}
.button {
}
