.career {

	.blog__content {
		@media (min-width:toEm(1200.02)) {
			  display: grid;
		}
		@media (max-width:$pc) {
			grid-template-columns: auto 16.875rem;
			column-gap: toRem(30);
		}

		@media (max-width:$tablet) {
			grid-template-columns: 1fr;
		}
	}

	.blogs__top {
		margin-bottom: toRem(20);

		@media (max-width:$pc) {
			margin-bottom: toRem(40);
		}
	}
	.blogs__category {
		margin-right: -2.0625rem;
	}
	.form-add__contacts {
		grid-row: 3/4;
		grid-column: 1/2;
	}

	.blog__aside {
		grid-column: 2/3;
		grid-row: 1 / span 3;
		@media (max-width:$tablet){
			margin-bottom: toRem(70);
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("margin-block", 60, 50,0,768,380); 
		}
	}

	&__body[class] {
		@media (min-width:toEm(1200.02)) {
			grid-row: 2/3;
			grid-column: 1/2;
		}

		@media (max-width:$tablet) {
			@include adaptiveValue("margin-bottom", 70, 50,0,992,380) ;
		}
	}

	&__item {
		border: 0.0625rem solid $color-seryy-01-1;
		border-radius: 0.75rem;
		padding: toRem(30) toRem(40);
		@media (max-width:$mobile){
			 padding: 1.875rem;
		}
		@media (max-width:$mobileSmall){
			 padding: 1.25rem; 
		}
		&:not(:last-child) {
			margin-bottom: toRem(50);
			@media (max-width:$mobileSmall){
				 margin-bottom: toRem(30); 
			}
		}
	}
}

.vacancy {

	&__header {
		display: grid;
		align-items: center;
		grid-template-columns: 1fr 18.9375rem auto;
		@include adaptiveValue("padding-bottom", 30, 20,0,768,576);
		border-bottom: 0.0625rem dashed $color-seryy-01-1;
		@media (max-width: toEm(950)){
			row-gap: toRem(20);
			grid-template-columns: 1fr auto;
			  grid-template-rows: auto auto;
		}
		.article-blog__subtitle {
			margin-bottom: toRem(0);
			@media (max-width:$mobileSmall){
				 order: 1; 
			}
		}
		@media (max-width:$mobileSmall){
			 display: flex;
			 flex-direction: column;
			 align-items: flex-start; 
		}
		@media (max-width:$mobileXSmall){
			 align-items: center;
		}
		
		
	}

	&__description {
		// display: none;
		overflow: hidden;
		max-height: 0;
		transition: max-height 0.5s ease, margin-top 0.5s ease;
		&._description-active {
			margin-top: toRem(30);
			// display: block;
		}
	}

	&__description-text {
		line-height: 1.8;
	
	}
	&__salary {
		@media (max-width: toEm(950)){
			  grid-row: 2/3;
			  grid-column: 1/2;
		}
	}

	&__tag[class] {
		font-family: 'IBM';
		padding-inline: 1rem;
		padding-block: 0.5rem;
		border-radius: 0.375rem;
		line-height: 1.6;
		margin-left: toRem(80);
		padding: 0.5rem toRem(16);
		&:hover{
			background: linear-gradient(132.81deg, #0dbd86 17.574%, #099a75 84.858%);;
		}
		@media (max-width: toEm(950)){
			  margin-left: 0;
		}
	}

	&__main {
		.table-article__cell {
			font-size: toRem(14);
		}
	}

	&__table {
		@include adaptiveValue("margin-block", 30, 20,0,768,576);
		overflow: initial;
		.table-article__row .table-article__cell:first-child {
			padding-right: toRem(5);
			border-right: none;
			flex: 0 0 auto;
			min-width: 12.5rem;
			color: $color-kontent;
		}
		.table-article__cell {
			padding-block: toRem(14);
		}
		.table-article__row .table-article__cell:first-child {
			font-family: "Manrope";
			@media (max-width: toEm(700)){
				  padding-bottom: 0;
			}
		}

		.table-article__row .table-article__cell:nth-child(2) {
			font-family: "Manrope-bold";
			text-align: right;
			@media (max-width:$mobile){
				 flex: 1 1; 
			}
			@media (max-width: toEm(700)){
				  padding-top: toRem(4);
			}
			@media (max-width: toEm(700)){
				  text-align: left;
			}
		}
		.table-article__row {
			@media (max-width: toEm(700)){
				  flex-direction: column;
			}
		}
	}

	&__duties {
		.article-blog__list {
			column-count: 1;
			column-gap: 0;
			border-bottom: 0.0625rem dashed $color-seryy-01-1;
				 @include adaptiveValue("padding-bottom", 25, 20,0,768,576) ; 
		}

		.article-blog__text {
			font-size: 0.875rem;
			line-height: 160%;
		}
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include adaptiveValue("margin-top", 30, 20, 0, 768, 380);
		@media (max-width:$mobileSmall){
			 flex-direction: column;
			 row-gap: toRem(10); 
		}
		button {
			height: auto;
			padding-block: toRem(14);
			line-height: 1.4;
			@media (max-width:$mobileSmall){
				 width: 100%; 
			}
			&.posts__pagination-item {
				display: flex;
				border: none;
				outline: 0.0625rem solid $color-seryy-01-1;
			}
			&.vacancy__button {
				padding-block: 1rem;
			}
		}
		.posts__pagination-item_more {
			@media (max-width:$tablet) and (min-width:36.0012rem) {
				width: auto;
			}
		}
		.posts__pagination-link_close {
			display: none;
		}
		.__description-active+& .posts__pagination-link_close {
			display: block;
			&:not(._posts__pagination-link_close) {
				display: none;
			}
		}
	}

	&__button {}
}

.article-blog {
	&__item {
		.vacancy__duties & {
			&::before {
				content: '';
				top: 0.4375rem;
			}
		}
	}

}

.salary {
	display: flex;
	align-items: center;
	gap: toRem(40);
	@media (max-width:$mobileSmall){
		 order: 2; 
	}
	max-width:$mobileXSmall{
		 margin-top: -0.625rem; 
	}
	.cost-cell {
		display: grid;
		align-items: start;
	}

	&__item {
		display: flex;
		align-items: center;
		gap: toRem(10);
		.cost-cell {
			@include adaptiveValue("font-size", 20, 13, 0, 576, 380);
		}
	}

	&__text {}
}