.career-aside {
	margin-top: toRem(56);
	& .callback__list[class] {
			column-gap: toRem(20);
		}
	@media (max-width:$tablet){
		margin-right: 0;
	}

	&__slider {
		@media (max-width:$mobileSmall){
			 margin-right: -2.0625rem; 
		}
	}
	&__list {
		margin-top: toRem(55);
		flex-direction: column;
		
		@media (max-width:$tablet){
			margin-top: toRem(50);
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("margin-top", 40, 30, 0, 768, 380); 
		}
		
		.swiper-slide {
			transform: none !important;
			@media (min-width:toEm(1200.02)) and (max-width:toEm(1360)){
				  &:not(:last-child) {margin-bottom: toRem(40);}
			}
		 }
		.callback__text {
			margin-bottom: toRem(30);
			@media (max-width:75rem){
				 row-gap: toRem(15); 
			}
		}
		
		@media (max-width:75rem){
			flex-direction: row;
		}
		.callback__wrap {
			display: block;
		}
		.callback__img-wrap {
			flex: 0 0 4rem;
		}
	}
}
.article-blog {

	&__subtitle {
		.career-aside & {
			margin-bottom: toRem(10);
			@media (max-width:$mobile){
				 text-align: center;
				 &+p {
					 text-align: center;
				 } 
			}
		}
	}
}
.callback {
	.career-aside & {
		@media (max-width: toEm(1200)){
			  margin-bottom: toRem(0);
		}
		&::before{
			bottom: -0.3125rem;
		}
	}
}
