.cases-page {

	&__help {
	}
}
.help-cases {
	margin-bottom: toRem(100);
	@media (max-width:$pc){
		 margin-bottom: toRem(80); 
	}
	@media (max-width:$tablet){
		 margin-bottom: toRem(60); 
	}
	@media (max-width:$mobile){
		margin-right: -31px;
		 @include adaptiveValue("margin-bottom", 60,50,0,768,380); 
	}
	&__pcnote {
		display: flex;
		gap: toRem(15);
		@media (max-width:1600px){
			 display: none; 
		}
	}

	&__link {
		color: $color-belyy;
		border-radius: 8px;
padding: 10px 30px 10px 24px;
display: flex;
align-items: center;
gap: toRem(12);
.callback__text {
	margin-bottom: toRem(0);
}
		&_tg {
			background-color: #08c;
		}

		&_whatsApp {
			background-color: #48c95f;
		}
	}

	&__img {
		width: 24px;
		flex: 0 0 24px;
	}
}
.seo {

	&__title {
	}

	&__text {
	}
}
.career-aside {

	&__list {
		margin-top: toRem(70);
		display: flex;
		// flex-wrap: wrap;
		@include adaptiveValue("gap",40 ,30,0,1920,1360);
		.cases-page & {
			flex-direction: row;
		}
		@media (max-width:$pc){
			 margin-top: toRem(60); 
		}
		@media (max-width:$tablet){
			 margin-top: toRem(50); 
		}
		@media (max-width:$mobile){
				overflow-x: auto;
				overflow-y: hidden; 
			 @include adaptiveValue("margin-top", 40, 30, 0, 768, 380); 
		}
	}
}
.callback {
	.cases-page & {
		flex: 1;
		@media (max-width:$mobile){
			 flex: 0 0 calc(50% - 20px); 
		}
		@media (max-width:$mobileSmall){
			  flex: 0 0 65%;
		}
	}
	&__wrap {
	}

	&__text {
		.cases-page & {
			line-height: 1.3;
			font-size: toRem(14);
		}
	}

	&__img-wrap {
	}

	&__img {
	}

	&__icon {
	}

	&__list {
		.cases-page & {
			display: none;
			@media (max-width:1600px){
				display: flex; 
		  }
		}
	}

	&__list--circle {
	}

	&__item {
	}

	&__link {
	}

	&__link--circle {
	}

	&__link--telegram {
	}

	&__link--whatsapp {
	}

	&__link--vk {
	}
}
