.case2 {
	padding: 1.25rem 1.875rem 1.875rem;
	display: grid;
	grid-template-columns: 25rem 1fr;
	column-gap: 1.875rem;
}

.case2__wrap {
	grid-column: 1/3;
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 3.75rem;
	align-items: center;
	margin-bottom: 1.25rem;
}

.case2__wrap p {
	padding: 0;
	margin: 0;
	color: #0c0e0d;
	font-size: 0.9375rem;
	line-height: 1.6;
}

.case2__wrap img {
	display: block;
	height: 3.75rem;
	width: 13.6875rem;
	object-fit: contain;
	object-position: left center;
}

.case2__client-link {
	position: relative;
	display: inline-block;
	padding: 0.5rem 1rem 0.5rem 2.5rem;
	color: #548271;
	font-size: 0.875rem;
	background-color: #f2f7f5;
	border-radius: 0.5rem;
	transition: all 0.3s ease-in-out;
}

.case2__client-link::before,
.company-case__text-wrap a::before,
.reviews__client-info a.reviews__link::before {
	left: 1.0625rem;
	width: 1rem;
	height: 1rem;
	background-image: url(//seo-zharkov.ru/assets/img/icon-link.svg);
}

.case2__client-link:active,
.case2__client-link:hover {
	color: #017e5e;
}

.case2__img-wrap {
	display: block;
	position: relative;
	width: 100%;
	height: 18.75rem;
	background-color: #f9f9f9;
	border-radius: 0.5rem;
	overflow: hidden;
}

.case2__img-wrap img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s;
	cursor: pointer;
}

.case2__img-wrap a {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 50%;
	left: 50%;
	width: 3.25rem;
	height: 3.25rem;
	transform: translate(-50%, -50%);
	background-color: #f2f7f5;
	z-index: 10;
	opacity: 0;
	border-radius: 50%;
	transition: all 0.3s;
}

.case2__img-wrap a:active,
.case2__img-wrap a:hover {
	background: linear-gradient(107.65deg, #d3ff74 28.081%, #ade33b 92.635%);
}

.case2__tabs .tabs {
	display: flex;
	flex-direction: column-reverse;
}

.case2__tabs .tabs__panel {
	margin-bottom: 2.5rem;
	.cases-page & {
		position: relative;
	}
}

.case2__tabs .options__item {
	position: relative;
	padding: 1rem 1rem 1rem 2.8125rem;
	font-size: 0.875rem;
}

.case2__client-link::before,
.case2__tabs .options__item::before,
.clients__show-all span::before,
.company-case__text-wrap a::before,
.reviews__client-info a.reviews__link::before {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-size: cover;
	background-repeat: no-repeat;
}
.tabs__dots {
	position: absolute;
	padding: 0.625rem;
	border-radius: 1rem;
	background-color: $color-belyy;
	bottom: 1.875rem;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	gap: toRem(10);
	z-index: 10;
	pointer-events: none;
	opacity: 0;
	margin-inline: auto;
	transition: opacity 0.3s ease-in-out;
	.tabs:hover & {
		pointer-events: auto;
		opacity: 1;
	}
}
.tabs__dot {
	cursor: pointer;
	width: 0.9375rem;
	height: 0.9375rem;
	background-color: $color-seryy-01-1;
	border-radius: 50%;
	transition: background-color 0.3s ease-in-out;
	&.active {
		background-color: $color-zelenyy-02;
	}
}
.case2__tabs .options__item::before {
	left: 0.9375rem;
	width: 1.25rem;
	height: 1.25rem;
	z-index: 10;
}

.case2__tabs .options__item.active,
.case2__tabs .options__item:active,
.case2__tabs .options__item:hover {
	background-color: #f2f7f5;
	color: #01a572;
	background-image: none;
}

.case2__tabs .options__item--google::before {
	background-image: url(//seo-zharkov.ru/assets/img/icon-google2.svg);
}

.case2__tabs .options__item--yandex::before {
	background-image: url(//seo-zharkov.ru/assets/img/icon-yandex2.svg);
}

.case2__tabs .options__item--traffic::before {
	background-image: url(//seo-zharkov.ru/assets/img/icon-traffic.png);
}

.case2__info {
	padding-top: 0.625rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.case2__link.button {
	padding: 1.1875rem 1.5rem;
	font-size: 0.8125rem;
	margin-top: auto;
	cursor: pointer;
	.cases-page & {
		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}
}

.tabs__btns {
	opacity: 0;
}

.tabs__btns:hover,
.tabs__panel:hover ~ .tabs__btns {
	opacity: 1;
}

.tabs__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 2.75rem;
	height: 2.75rem;
	background-color: #f2f7f5;
	border-radius: 0.5rem;
	z-index: 100;
	transition: all 0.4s ease-in-out;
	cursor: pointer;
}

.tabs__btn:active,
.tabs__btn:hover {
	background: linear-gradient(107.65deg, #d3ff74 28.643%, #ade33b 92.14%);
}

.case2__img-wrap a:active svg,
.case2__img-wrap a:hover svg,
.tabs__btn:active svg,
.tabs__btn:hover svg {
	stroke: #0c0e0d;
}

.case2__img-wrap a svg,
.tabs__btn svg {
	stroke: #7ba193;
}

.tabs__btn.back {
	position: absolute;
	top: 8.125rem;
	left: 0;
}

.tabs__btn.forward {
	position: absolute;
	top: 8.125rem;
	right: 0;
}

.case2__tabs .tabs {
	position: relative;
}

@media (min-width: 103.125rem) {
	.letters__slider {
		padding-bottom: 3.75rem;
	}
}

.tabs__btn.forward {
	right: 0.9375rem;
}

.tabs__btn.back {
	left: 0.9375rem;
}

.cases-page .forward {
	rotate: 180deg;
}

.cases-page {
	.blogs__category {
		@media (max-width: $mobileSmall) {
			// margin-right: -1.9375rem;
		}
		@media (max-width: 84.9988rem) {
			margin-right: -1.9375rem;
		}

		@media (max-width: $tablet) {
			margin-right: -2.4375rem;
		}

		@media (max-width: $mobile) {
			margin-right: -2.0625rem;
		}

		@media (max-width: $mobileSmall) {
			margin-right: -1.25rem;
		}
	}
	.form-add__description {
		text-align: left;
	}
	&__full {
		margin-bottom: toRem(80);
		@media (max-width: $pc) {
			margin-bottom: toRem(70);
		}
		@media (max-width: $mobile) {
			@include adaptiveValue("margin-bottom", 60, 40, 0, 768, 380);
		}
		.cases-page__body {
			margin-bottom: toRem(54);
			@media (max-width: $mobile) {
				@include adaptiveValue("margin-bottom", 40, 30, 0, 768, 380);
			}
		}
	}
	&__body {
		@media (min-width: toEm(1360.02)) {
			margin-top: toRem(60);
		}
		@media (max-width: $pc) {
			@include adaptiveValue("margin-top", 50, 40, 0, 1360, 576);
		}
		@media (max-width: $mobileXSmall) {
			margin-top: 1.875rem;
		}
		margin-bottom: toRem(70);
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: toRem(40);
		@media (max-width: toEm(1630)) {
			grid-template-columns: repeat(auto-fill, minmax(toRem(330), 1fr));
		}
		@media (max-width: $tablet) {
			gap: toRem(30);
			margin-bottom: toRem(50);
			@media (max-width: $mobileSmall) {
				gap: toRem(20);
			}
		}
		@media (max-width: $mobile) {
			margin-bottom: toRem(40);
			grid-template-columns: repeat(auto-fill, minmax(toRem(240), 1fr));
		}
		@media (max-width: $mobileSmall) {
			margin-bottom: toRem(30);
		}
	}
}

@media (min-width: toEm(1630)) {
	.cases-page .case__overlay {
		display: none;
	}
}
@media (min-width: 62rem) {
	.case2:hover .case__overlay {
		.cases-page & {
			max-height: fit-content;
		}
	}
}
.case2:hover .case__overlay {
	@media (max-width: 101.875rem) {
		opacity: 1;
		max-height: 56.25rem;
		transition: all 0.5s ease-in-out;
	}
}

.cases {
	&__item {
		border: 0.0625rem solid #e4eeea;
		border-radius: 0.75rem;
	}
}
.case2 {
	.cases-page & {
		position: relative;

		@media (max-width: toEm(1630)) {
			grid-template-columns: 1fr;
			column-gap: toRem(0);
		}
		@media (max-width: $pc) {
			cursor: pointer;
		}
		@media (max-width: $mobileSmall) {
			padding: 1.25rem;
		}
	}
	&__wrap {
		.cases-page & {
			p {
				@media (max-width: toEm(1630)) {
					display: none;
				}
			}
		}
	}

	&__tabs {
		.cases-page & {
			@media (max-width: toEm(1630)) {
				display: none;
			}
		}
	}

	&__img-wrap {
		.cases-page & {
			transition: scale 0.3s;
			&:hover {
				scale: 1.1;
			}
			@media (max-width: toEm(1630)) {
				display: none;
			}
		}
	}
}
.tabs {
	.cases-page & {
		height: 100%;
		justify-content: space-between;
	}
}
.options {
	.cases-page & {
		@media (max-width: toEm(1630)) {
			display: none;
		}
	}
}

.form-add {
	&__inner {
		.cases-page & {
			margin-bottom: toRem(115);
			@media (max-width: $pc) {
				margin-bottom: toRem(90);
			}
			@media (max-width: $tablet) {
				margin-bottom: toRem(70);
			}
			@media (max-width: $mobileSmall) {
				@include adaptiveValue("margin-bottom", 60, 50, 0, 576, 380);
			}
		}
	}

	&__wrap {
		.cases-page & {
			padding: 1.875rem;
		}
	}

	&__description {
		.cases-page & {
			margin-bottom: toRem(20);
		}
	}
}
.post {
	&__header {
		.cases-page & {
			margin-bottom: toRem(0);
		}
	}
}
