.clients-page {

	&__wrapper {
		margin-top: toRem(60);

		@media (max-width:$pc) {
			margin-top: toRem(50);
		}

		@media (max-width:$tablet) {
			margin-top: toRem(40);
		}

		@media (max-width:$mobileXSmall) {
			margin-top: toRem(30);
		}
	}

	&__content {
		display: grid;
		gap: toRem(40);
		grid-template-columns: 1fr 1fr;

		@media (max-width:$pc) {
			gap: toRem(30);
		}

		@media (max-width:$mobile) {
			grid-template-columns: 1fr;
		}
	}

	&__item {
		overflow: hidden;

		@media (max-width:$mobile) {
			border-radius: 0.75rem 0.75rem 0 0;
		}
	}

	&__bottom {
		padding: 1.875rem;
		border-radius: 0 0 0.75rem 0.75rem;
		border: 0.0625rem solid $color-seryy-01-1;
		border-top: none;

		@media (max-width:$tablet) {
			padding: 1.5rem;
		}
	}

	&__img {
		position: relative;
		aspect-ratio: 710/200;

		@media (max-width:$mobile) {
			aspect-ratio: 689/200;
		}

		@media (max-width:$mobileSmall) {
			aspect-ratio: 510/200;
		}

		@media (max-width:$mobileXSmall) {
			aspect-ratio: 340/200;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			max-width: initial;

		}
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: toRem(25);

		@media (max-width: toEm(1260)) and (min-width: toEm(768.02)) {
			flex-direction: column;
			row-gap: toRem(20);
			align-items: initial;
		}

		@media (max-width:$mobileSmall) {
			margin-top: toRem(20);
		}

		@media (max-width: toEm(520)) {
			flex-direction: column;
			row-gap: toRem(20);
			align-items: initial;
		}
	}
}

.case {

	&__top-mobile {
		.clients-page__item & {
			display: grid;
			grid-template-columns: auto 11.25rem;
			gap: toRem(20);
			padding-bottom: toRem(0);

			&:not(:last-child) {
				margin-bottom: toRem(25);
			}

			@media (max-width: toEm(1260)) and (min-width: toEm(768.02)) {
				grid-template-columns: 1fr;
			}

			@media (max-width:$mobileSmall) {
				&:not(:last-child) {
					margin-bottom: toRem(20);
				}
			}

			@media (max-width: toEm(520)) {
				grid-template-columns: 1fr;
			}
		}
	}

	&__link {
		.clients-page__item &:not(.button) {
			grid-column: 1/3;
			max-width: fit-content;
			margin-bottom: toRem(0);

			@media (max-width: toEm(1260)) and (min-width: toEm(768.02)) {
				grid-column: initial;
				order: 2;
			}

			@media (max-width: toEm(520)) {
				grid-column: initial;
				order: 2;
			}
		}

		&.button {
			@media (max-width: toEm(520)) {
				max-width: 100%;
			}
		}
	}

	&__list {
		.clients-page__item & {
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: toRem(20);
		}
	}

	&__item {
		.clients-page__item & {
			padding-block: toRem(15);

			&:nth-child(1),
			&:nth-child(2) {
				border-top: 0.0938rem dashed #e4eeea;
			}

			margin-bottom: toRem(0);

			p:last-child {
				margin-bottom: toRem(0);
			}

			@media (max-width:$mobileXSmall) {
				div {
					display: flex;
				}
			}
		}
	}
}

.article-blog {

	&__subtitle {
		.clients-page__item & {
			margin-bottom: 0;

			@media (max-width: toEm(1260)) and (min-width: toEm(768.02)) {
				order: 1;
			}

			@media (max-width: toEm(520)) {
				order: 1;
			}
		}
	}
}

.main-example {

	&__img {
		&_brand {
			.clients-page__item & {
				padding: toRem(16) toRem(20);
				width: fit-content;
			}
		}
	}
}

.callback {

	&__text {
		.clients-page__item & {
			margin-bottom: toRem(0);
		}
	}
}