.example-ol {
	margin-top: toRem(50);
}
.article-blog {
	&__part {
		&_ol {
			.example-ol & {
				margin: 0;
				border: none;
				padding: 0;
			}
		}
	}

	&__subsubtitle {
		.example-ol & {
			font-size: toRem(20);
		}
	}
}
