.example {
	&__part {
		&#example-summary {
			.article-blog__part {
				@media (max-width: $tablet) {
					margin-bottom: toRem(50);
				}
				@media (max-width: $mobileSmall) {
					margin-bottom: toRem(40);
				}
			}
		}
	}
}
.example-ul,
.example-ol {
	display: flex;
	align-items: flex-start;
	gap: toRem(25);
	padding-block: toRem(30);
	border-bottom: 0.0625rem dashed $color-seryy-01-1;
	border-top: 0.0625rem dashed $color-seryy-01-1;
	margin-block: toRem(50);
	@media (max-width: $tablet) {
		@include adaptiveValue("margin-block", 40, 30, 0, 992, 380);
	}

	&__bottom,
	.example-ol__img {
		flex: 0 0 3.75rem;
		@media (max-width: $mobileSmall) {
			display: none;
		}
	}
}
.article-blog {
	&__list-wrap {
		.example-ul & {
			border: none;
			padding: 0;
		}
	}

	&__list {
		.example-ul & {
			flex: 1;
			column-count: 1;
		}
	}
}
