.leaders {
    padding-top: 10px;
}

.leaders__title {
    padding: 0;
    padding-right: 25px;
    margin: 0;
    margin-bottom: 13px;
    font-family: "Unbounded-semibold";
    font-size: 24px;
    text-align: center;
    color: #0C0E0D;
    
    span {        
        background: linear-gradient(132.81deg, #01a572 17.575%, #017e5e 84.837%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;        
    }
}

.leaders__main-text {
    margin: 0 0 28px;
    text-align: center;
    padding: 0;
    font-size: 14px;
    line-height: 1.8;
}

.leaders__main-text p {
    margin-bottom: 10px;
}

.leaders__slider {
    padding-left: 20px;
    padding-bottom: 40px;

    .swiper-wrapper {
       //align-items: stretch;
    }    
}

.leaders {
    .swiper-button-prev {
        display: none;
    }

    .swiper-button-next {
        display: none;
    }
}

.leaders__slide.swiper-slide {
    position: relative;
    width: 210px;
    border: 1px solid #E4EEEA;
    padding: 30px 22px 40px;
    border-radius: 12px;
    cursor: pointer;
    //height: auto;

    /*a {
        display: flex;
        justify-content: center;
        align-items: center;
    }*/

    

    &:hover {
        box-shadow: 0px 30px 30px -12px rgba(72, 80, 91, 0.07);

        .leaders__text h3 {
            color: #01A572;
        }
    }
    
}

.leaders__img-wrap {
    //position: relative;
    width: 150px;
    //height: 150px;
    margin: 0 auto 25px;
    border-radius: 16px;
    //border-radius: 50%;
    //overflow: hidden;
    //background-color: #AAE233;
    
    /*img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        //transform: scale(1.3) translateY(20px);
        object-position: center top;
        object-fit: cover;
    }*/
}

.leaders__skills {
    display: none;
}

.leaders__slogan {
    display: none;
}

.leaders__work {
    display: none;
}

.leaders__text {
    p {
        padding: 0;
        margin: 0;        
        font-size: 14px;
        color: #548271;
    }

    //p:first-child {
    h3 {    
        font-family: "Manrope-bold";
        color: #0C0E0D;
        font-size: 15px;
        margin-bottom: 5px;
    }

    .leaders__slide.swiper-slide {
        padding-bottom: 40px;
    }   
}

@media (min-width: 576px) {
    .leaders {
        padding-top: 21px;
    }

    .leaders__title {
        font-size: 28px;
        padding-right: 0;
    }

    .leaders__slider {
        padding-left: 35px;
    }    

    .leaders__img-wrap {
        margin-bottom: 25px;
    }    
}    

@media (min-width: $tablet-width) {
    .leaders__slider {
        padding-left: 39px;
    } 

    .leaders__main-text {
        font-size: 15px;
    }
}    


@media (min-width: 992px) {
    .leaders {
        padding-top: 25px;
    }

    .leaders__title {
        text-align: left;
        margin-bottom: 50px;
    }

    .leaders__main-text {
        text-align: left;
        margin-bottom: 36px;
    }

    .leaders__slide.swiper-slide {
        padding-bottom: 45px;
    }

    .leaders__slider {
        padding-left: 31px;
    } 
}    

@media (min-width: $desktop-width) {
    .leaders {
        padding-top: 28px;
    }

    .leaders__title {
        margin-bottom: 60px;
    }

    .leaders__text {
        padding-left: 25px;
    }

    .leaders__main-text {
        max-width: 770px;
        margin-bottom: 60px;
    }

    .leaders__wrap {
        position: relative;
        padding-left: 95px;
        padding-right: 95px;
    } 

    .leaders__img-wrap {
        width: 170px;
        margin-bottom: 25px;
    }       

    .leaders__slider {
        padding-left: 0;
    }

    .leaders__slide.swiper-slide {
        //width: auto;
        padding: 30px 5px 40px;
    }   

    .leaders .swiper-button-prev {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -80px;
        left: auto;
        right: 160px;        
        width: 52px;
        height: 52px;
        background-color: #F2F7F5;
        border-radius: 8px;
        transition: all 0.4s ease-in-out; 

        &::after {
            content: "";
            font-size: 0;
        }

        svg {
            stroke: #7BA193;
        }
    }

    .leaders .swiper-button-next {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -80px;
        right: 95px;
        width: 52px;
        height: 52px;        
        background-color: #F2F7F5;
        border-radius: 8px;
        transition: all 0.4s ease-in-out; 

        &::after {
            content: "";
            font-size: 0;
        }

        svg {
            stroke: #7BA193;
        }
    }

    .leaders .swiper-button-next:hover {
        background: linear-gradient(107.65deg, rgb(211, 255, 116) 28.643%,rgb(173, 227, 59) 92.14%);
        transition: all 0.3s ease-in-out; 

        svg {
            stroke: #0C0E0D;
        }
    }

    .leaders .swiper-button-next:active {
        background: linear-gradient(107.65deg, rgb(211, 255, 116) 28.643%,rgb(173, 227, 59) 92.14%);
        border: 1px solid transparent;
        transition: background 0.3s ease-in-out; 

        svg {
            stroke: #0C0E0D;
        }
    }

    .leaders .swiper-button-prev:hover {
        background: linear-gradient(107.65deg, rgb(211, 255, 116) 28.643%,rgb(173, 227, 59) 92.14%);
        transition: background 0.3s ease-in-out; 

        svg {
            stroke: #0C0E0D;
        }
    }

    .leaders .swiper-button-prev:active {
        background: linear-gradient(107.65deg, rgb(211, 255, 116) 28.643%,rgb(173, 227, 59) 92.14%);
        border: 1px solid transparent;
        transition: background 0.3s ease-in-out; 

        svg {
            stroke: #0C0E0D;
        }
    }

    .leaders .swiper-button-next.swiper-button-disabled, .leaders .swiper-button-prev.swiper-button-disabled {
        opacity: 1;
        background-color: #ffffff;
        border: 1px solid #E4EEEA;

        svg {
            stroke: #7BA193;
        }
    }        
    
}    

@media (min-width: $big-desktop-width) {     
    
    .leaders {
        margin: 0 auto;
        max-width: 1460px;
        padding-left: 0;
        padding-right: 0;
        
        .container {
            padding-left: 0;
            padding-right: 0;
        }
    } 

    .leaders__title {
        font-size: 32px;
        margin-bottom: 60px;
    }

    .leaders__main-text {
        max-width: 960px;
        font-size: 16px;
        margin-bottom: 60px;
    }


    .leaders__wrap {
        padding-left: 0;
        padding-right: 0;
    }
  

    .leaders__slider {
        padding-left: 0;
        padding-right: 0;
    } 

    .leaders__img-wrap {
        width: 100%;
        //height: 282px;
        margin-bottom: 25px;
        border-radius: 0;

        img {
            top: 0;
            //top: 15px;
            transform: none;
            z-index: 10;
            //object-fit: contain;
            object-fit: cover;

            &::before {
                top: 10px;
            }
        }

        &::before {
            //content: "";
            position: absolute;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            top: 12px;
            left: 50%;
            transform: translateX(-50%);            
            background-color: #AAE233;
            z-index: 5;
        }
    }   

    .leaders .swiper-button-next {
        right: 0px;
    }

    .leaders__slide.swiper-slide {
        padding: 30px;
    }

    .leaders__text {
        padding-left: 0;
    }

    /*.leaders__text p:first-child {
        font-size: 18px;
    }*/

    .leaders__text h3 {
        font-size: 18px;
    }

    .leaders .swiper-button-naxt {        
        right: 0;
    }

    .leaders .swiper-button-prev {
        right: 70px;
    }
}    