.partners {
	&__wrapper {
		margin-top: toRem(50);
		margin-bottom: toRem(80);
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(5, 292px);

		@media (max-width: 1650px) {
			justify-content: center;
			grid-template-columns: repeat(4, 292px);
		}

		@media (max-width: toEm(1230)) {
			grid-template-columns: 1fr 1fr;
			gap: toRem(30);
		}
	}

	&__item {
		border: 1px solid $color-seryy-01-1;
		cursor: pointer;
		background-color: $color-belyy;
		padding: 30px;
		
		@media (min-width:toEm(1230.02)) {
			position: relative;
			transition:
				width 0.3s ease-in-out,
				transform 0.3s linear;
			z-index: 1;

			&:first-child {
				border-top-left-radius: 12px;
			}

			&:last-child {
				border-bottom-right-radius: 12px;
			}

			&.is-last {
				border-bottom-right-radius: 12px;
			}

			&.rounded-bottom-right {
				border-bottom-right-radius: 12px;
			}

			&.single-in-row:hover {
				transform: none;
			}

			&.before-rounded-hover:hover {
				border-bottom-right-radius: 12px;
			}

			&.last-in-row {}

			height: 292px;
			width: 292px;

			&:hover[class] {
				width: calc(2 * 292px);

				&.last-in-row:not(.single-in-row) {
					transform: translateX(-292px);
					// border-right: none;
					// box-shadow: inset -1px 0 0 $color-seryy-01-1;
				}
			}

			&._hover:not(.last-in-row) {
				z-index: 2;
				border-right: 1px solid $color-seryy-01-1;
			}


			//работа с границами

			&:only-child {
				border-top-right-radius: 12px;
			}

			&:nth-child(2):last-child {
				border-top-right-radius: 12px;
			}

			&:nth-child(3):last-child {
				border-top-right-radius: 12px;
			}

			&:nth-child(4):last-child {
				border-top-right-radius: 12px;
			}
		}

		@media (min-width: toEm(1650.02)) {
			padding: 30px;

			&:nth-child(5) {
				border-top-right-radius: 12px;
			}

			&:nth-child(5n + 1):nth-last-child(-n + 5) {
				border-bottom-left-radius: 12px;
			}

			&:nth-child(4):hover {
				border-top-right-radius: 12px;
			}

			//убираю двойные бордеры

			&:not(:nth-child(5n+1)),
			:not(:first-child) {
				border-left: none;
			}

			&:nth-child(n + 6) {
				border-top: none;
			}
		}

		@media (min-width: 1230.02px) and (max-width: 1650px) {
			&:nth-child(4) {
				border-top-right-radius: 12px;
			}

			&:nth-child(4n + 1):nth-last-child(-n + 4) {
				border-bottom-left-radius: 12px;
			}

			&:nth-child(3):hover {
				border-top-right-radius: 12px;
			}

			//убираю двойные бордеры

			&:not(:nth-child(4n+1)),
			:not(:first-child) {
				border-left: none;
			}

			&:nth-child(n + 5) {
				border-top: none;
			}
		}

		@media (max-width: 1230px) {
			border-radius: 12px;
		}
	}

	&__img-wrapper {
		@media (min-width:toEm(1230.02)) {


			position: absolute;
			background-color: #fff;
			z-index: 2;
			display: flex;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			max-width: initial;
			width: 192px;
			transition: top 0.3s linear,
				left 0.3s linear,
				width 0.3s linear,
				height 0.3s linear,
				padding 0.3s linear;

			.partners__item:hover & {
				top: 30px;
				left: 30px;
				width: 180px;
				height: 70px;
				transform: initial;
				padding: 20px 16px;
				border: 1px solid $color-seryy-01-1;
				border-radius: 12px;
			}
		}
	}

	&__img {
		@media (min-width:toEm(1230.02)) {

			width: 100%;

			.partners__item:hover & {
				width: 74%;
				position: absolute;
				top: 50%;
				left: 50%;
				object-fit: cover;
				translate: -50% -50%;
			}
		}
	}

	&__info {
		@media (min-width:toEm(1230.02)) {
			position: absolute;
			opacity: 0;
			bottom: 30px;
			left: 30px;
			right: 30px;
			transition: opacity 0.3s linear;

			p {
				width: 480px;
				.last-in-row & {
					width: auto;
				}

				&:not(:last-child) {
					margin-bottom: toRem(45);
				}
			}

			.partners__item:hover & {
				opacity: 1;
			}
		}
	}
}

.case {
	&__client-info {
		.partners__item & {
			margin-bottom: 0;
		}
	}

	&__link {
		.partners__item & {
			margin-bottom: 0;
			width: fit-content;
		}
	}
}