.partners {
	&__wrapper {
		margin-top: toRem(50);
		margin-bottom: toRem(80);
		@media (max-width:$pc){
			 margin-bottom: toRem(70); 
		}
		@media (max-width:$tablet){
			 margin-bottom: toRem(70); 
		}
		@media (max-width:$mobile){
			 margin-bottom: toRem(60); 
		}
		@media (max-width:$mobileXSmall){
			 margin-bottom: toRem(50); 
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(5, 18.25rem);

		@media (max-width: 103.125rem) {
			justify-content: center;
			grid-template-columns: repeat(4, 18.25rem);
		}

		@media (max-width: toEm(1230)) {
			grid-template-columns: 1fr 1fr;
			gap: toRem(30);
		}
		@media (max-width:40.625rem){
			grid-template-columns: 1fr; 
		}
	}

	&__item {
		border: 0.0625rem solid $color-seryy-01-1;
		cursor: pointer;
		background-color: $color-belyy;
		padding: 1.875rem;

		@media (min-width: toEm(1230.02)) {
			position: relative;
			transition:
				width 0.3s ease-in-out,
				transform 0.3s linear;
			z-index: 1;

			&:first-child {
				border-top-left-radius: 0.75rem;
			}

			&:last-child {
				border-bottom-right-radius: 0.75rem;
			}

			&.is-last {
				border-bottom-right-radius: 0.75rem;
			}

			&.rounded-bottom-right {
				border-bottom-right-radius: 0.75rem;
			}

			&.single-in-row:hover {
				transform: none;
			}

			&.before-rounded-hover:hover {
				border-bottom-right-radius: 0.75rem;
			}

			&.last-in-row {
			}

			height: 18.25rem;
			width: 18.25rem;

			&:hover[class] {
				width: calc(2 * 18.25rem);

				&.last-in-row:not(.single-in-row) {
					transform: translateX(-18.25rem);
					// border-right: none;
					// box-shadow: inset -0.0625rem 0 0 $color-seryy-01-1;
				}
			}

			&._hover:not(.last-in-row) {
				z-index: 2;
				border-right: 0.0625rem solid $color-seryy-01-1;
			}

			//работа с границами

			&:only-child {
				border-top-right-radius: 0.75rem;
			}

			&:nth-child(2):last-child {
				border-top-right-radius: 0.75rem;
			}

			&:nth-child(3):last-child {
				border-top-right-radius: 0.75rem;
			}

			&:nth-child(4):last-child {
				border-top-right-radius: 0.75rem;
			}
		}

		@media (min-width: toEm(1650.02)) {
			padding: 1.875rem;

			&:nth-child(5) {
				border-top-right-radius: 0.75rem;
			}

			&:nth-child(5n + 1):nth-last-child(-n + 5) {
				border-bottom-left-radius: 0.75rem;
			}

			&:nth-child(4):hover {
				border-top-right-radius: 0.75rem;
			}

			//убираю двойные бордеры

			&:not(:nth-child(5n + 1)),
			:not(:first-child) {
				border-left: none;
			}

			&:nth-child(n + 6) {
				border-top: none;
			}
		}

		@media (min-width: 76.8762rem) and (max-width: 103.125rem) {
			&:nth-child(4) {
				border-top-right-radius: 0.75rem;
			}

			&:nth-child(4n + 1):nth-last-child(-n + 4) {
				border-bottom-left-radius: 0.75rem;
			}

			&:nth-child(3):hover {
				border-top-right-radius: 0.75rem;
			}

			//убираю двойные бордеры

			&:not(:nth-child(4n + 1)),
			:not(:first-child) {
				border-left: none;
			}

			&:nth-child(n + 5) {
				border-top: none;
			}
		}

		@media (max-width: 76.875rem) {
			border-radius: 0.75rem;
		}
		@media (max-width: toEm(500)){
			  padding: 1.25rem;
		}
	}

	&__img-wrapper {
		@media (min-width: toEm(1230.02)) {
			position: absolute;
			background-color: #fff;
			z-index: 2;
			display: flex;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			max-width: initial;
			width: 12rem;
			transition:
				top 0.3s linear,
				left 0.3s linear,
				width 0.3s linear,
				height 0.3s linear,
				padding 0.3s linear;

			.partners__item:hover & {
				top: 1.875rem;
				left: 1.875rem;
				width: 11.25rem;
				height: 4.375rem;
				transform: initial;
				padding: 1.25rem 1rem;
				border: 0.0625rem solid $color-seryy-01-1;
				border-radius: 0.75rem;
			}
		}
		@media (max-width: toEm(1230.02)) {
			position: relative;
			width: 11.25rem;
			height: 4.375rem;
			transform: initial;
			padding: 1.25rem 1.25rem;
			border: 0.0625rem solid #e4eeea;
			border-radius: 0.75rem;
			&:not(:last-child) {margin-bottom: toRem(30);}
		}
		@media (max-width: toEm(500)){
			  &:not(:last-child) {margin-bottom: toRem(20);}
		}
	}

	&__img {
		@media (min-width: toEm(1230.02)) {
			width: 100%;

			.partners__item:hover & {
				width: 74%;
				position: absolute;
				top: 50%;
				left: 50%;
				object-fit: cover;
				translate: -50% -50%;
			}
		}
		@media (max-width: toEm(1230.02)) {
			width: 74%;
				position: absolute;
				top: 50%;
				left: 50%;
				object-fit: cover;
				translate: -50% -50%;
		}
	}

	&__button {
		@media (min-width:toEm(1230.02)) {
			  display: none;
		}
		margin-top: toRem(50);
		margin-inline: auto;
		width: auto;
		@media (max-width:$mobileSmall){
			 width: 100%; 
		}
	}

	&__info {
		@media (min-width: toEm(1230.02)) {
			position: absolute;
			opacity: 0;
			bottom: 1.875rem;
			left: 1.875rem;
			right: 1.875rem;
			transition: opacity 0.3s linear;
			
			p {
				width: 30rem;
				.last-in-row & {
					width: auto;
				}

				&:not(:last-child) {
					margin-bottom: toRem(45);
				}
			}

			.partners__item:hover & {
				opacity: 1;
			}
		}
		@media (max-width: toEm(1230.02)) {
			  p {
				margin-bottom: toRem(25);
			  }
		}
		@media (max-width: toEm(500)){
			  p {
				margin-bottom: toRem(20);
			  }
		}
	}
}

.case {
	&__client-info {
		.partners__item & {
			margin-bottom: 0;
		}
	}

	&__link {
		.partners__item & {
			margin-bottom: 0;
			width: fit-content;
		}
	}
}
