.main {}

.anpia {}

.reviews-page {

	&__content {}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width:$mobile) {
			flex-direction: column;
			@include adaptiveValue("row-gap", 30, 20, 0, 768, 380);
		}
	}

	&__other-l {
		flex: 0 0 45%;

		@media (max-width:$tablet) {
			flex: 0 0 55%;
		}

		@media (max-width:$mobile) {
			flex: 0 0 100%;
			text-align: center;
		}
	}

	&__full {
		margin-bottom: toRem(100);

		@media (max-width:$pc) {
			margin-bottom: toRem(80);
		}

		@media (max-width:$tablet) {
			margin-bottom: toRem(50);
		}

		@media (max-width:$mobileSmall) {
			margin-bottom: toRem(30);
		}
	}

	&__text {
		font-size: toRem(15);
		margin-top: toRem(15);
	}
}

.container {}

.blogs {

	&__top {}

	&__page {}

	&__title {
		.reviews-page & {
			margin-bottom: 0;
		}
	}

	&__form {}
}

.page-top {

	&__item {

		&_active {}
	}
}

.reviews-cases {

	&__actions {
		.reviews-page & {
			justify-content: center;

			@media (max-width:$mobile) {
				@include adaptiveValue("gap", 10, 6, 0, 768, 380);
			}
		}
	}

	&__link {
		.reviews-page & {
			display: inline-flex;

			@media (max-width:$mobile) {
				padding: 10px 23px 10px 15px;
			}
		}
	}

	&__show-all {
		&_top {
			.reviews-page & {
				align-self: initial;

				@media (max-width:$mobile) {
					display: none;
				}
			}
		}

		&_bottom {
			.reviews-page & {
				@media (max-width:$mobile) {
					display: block;
					margin-top: toRem(20);
				}
			}
		}
	}

	&__text {}

	&__item {
		&_text {
			display: flex;
			flex-direction: column;
			.reviews-cases__img,
			.reviews-cases__user-company,
			.case2__link {
				display: none;
			}
			.reviews-cases__user {
				margin-top: auto;
			}
			.case__link {
				order: 3;
				margin-bottom: toRem(0);
			}
			.reviews-cases__body {
				aspect-ratio: initial;
				background-color: initial;
				img {
					max-height: initial;
				}
			}
		}
	}

	&__img {}

	&__body {}

	&__button {}

	&__user {}

	&__user-name {}

	&__user-company {}
}

.arrow-svg {}

.cases-page {

	&__body {
		.reviews-page & {
			grid-template-columns: repeat(4, 1fr);
			margin-bottom: 0;
			gap: toRem(40);

			@media (max-width:$pc) {
				grid-template-columns: repeat(3, 1fr);
				gap: toRem(30);
			}

			@media (max-width:$mobile) {
				grid-template-columns: 1fr 1fr;
			}

			@media (max-width:28.125rem) {
				grid-template-columns: 1fr;
				gap: toRem(20);
			}
		}
	}

	&__help {
		.reviews-page & {
			margin-top: toRem(80);

			@media (max-width:$pc) {
				margin-top: toRem(70);
			}

			@media (max-width:$tablet) {
				margin-top: toRem(60);
			}

			@media (max-width:$mobileXSmall) {
				margin-top: toRem(50);
			}
		}
	}
}

.swiper-slide {}

.case {

	&__link {}

	&__list {}

	&__item {}

	&__item--yandex {}

	&__orders {}

	&__overlay {}

	&__overlay-wrap {}

	&__overlay-wrap--goggle {}

	&__img {}

	&__overlay-link {}

	&__overlay-wrap--yandex {}

	&__overlay-link--yandex {}
}

.case2 {

	&__link {}

	&__wrap {}

	&__client-link {}

	&__tabs {}

	&__img-wrap {}

	&__img {}

	&__img-link {}

	&__info {}
}

.button {}

.js-open-modal {}

.posts {

	&__pagination {}

	&__pagination-list {}

	&__pagination-item {

		&_active {}

		&_more {}
	}

	&__pagination-item--left {}

	&__pagination-link {}

	&__pagination-item--right {}
}

.dots {}

.example {

	&__other {}

	&__slider {}
}

.asideblog {

	&__top {
		.reviews-page & {
			align-items: flex-end;
		}
	}
}

.article-blog {

	&__subtitle {}
}

.clients {

	&__show-all {}
}

.popular {

	&__control {}
}

.swiper-wrapper {}

.cases {

	&__title {
		.reviews-page & {
			@media (max-width:$tablet) {
				text-align: left;
			}

			@media (max-width:$mobile) {
				text-align: center;
			}
		}
	}

	&__item {}

	&__slider3 {}

	&__slide3 {}
}

.tabs {

	&__list {}

	&__panel {}

	&__element {}

	&__dots {}

	&__dot {}

	&__btns {}

	&__next {}

	&__btn {}

	&__prev {}
}

.options {

	&__list {}

	&__item {}

	&__item--google {}

	&__item--yandex {}

	&__item--traffic {}
}

.tab {}

.active {}

.tab2 {}

.swiper {}

.swiper-initialized {}

.swiper-horizontal {}

.swiper-backface-hidden {}

.swiper-wrapper-wrap {}

.swiper-slide-active {}

.swiper-notification {}

.forward {}

.back {}

.help-cases {

	&__pcnote {}

	&__link {

		&_tg {}

		&_whatsApp {}
	}

	&__img {}
}

.seo {

	&__title {}

	&__text {}
}

.career-aside {

	&__list {}
}

.callback {

	&__wrap {}

	&__text {}

	&__img-wrap {}

	&__img {}

	&__icon {}

	&__list {}

	&__list--circle {}

	&__item {}

	&__link {}

	&__link--circle {}

	&__link--telegram {}

	&__link--whatsapp {}

	&__link--vk {}
}

.form-callback {}

.visually-hidden {}

.callback-form {

	&__wrap {}

	&__title {}

	&__close-btn {}
}