.reviews-page {
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: $mobile) {
			flex-direction: column;
			@include adaptiveValue("row-gap", 30, 20, 0, 768, 380);
		}
	}

	&__other-l {
		flex: 0 0 45%;

		@media (max-width: $tablet) {
			flex: 0 0 55%;
		}

		@media (max-width: $mobile) {
			flex: 0 0 100%;
			text-align: center;
		}
	}

	&__full {
		margin-bottom: toRem(100);

		@media (max-width: $pc) {
			margin-bottom: toRem(80);
		}

		@media (max-width: $tablet) {
			margin-bottom: toRem(50);
		}

		@media (max-width: $mobileSmall) {
			margin-bottom: toRem(30);
		}
	}

	&__text {
		font-size: toRem(15);
		margin-top: toRem(15);
	}
}

.blogs {
	&__title {
		.reviews-page & {
			margin-bottom: 0;
		}
	}
}

.reviews-cases {
	&__actions {
		.reviews-page & {
			justify-content: center;

			@media (max-width: $mobile) {
				@include adaptiveValue("gap", 10, 6, 0, 768, 380);
			}
		}
	}

	&__link {
		.reviews-page & {
			display: inline-flex;

			@media (max-width: $mobile) {
				padding: 0.625rem 1.4375rem 0.625rem 0.9375rem;
			}
		}
	}

	&__show-all {
		&_top {
			.reviews-page & {
				align-self: initial;

				@media (max-width: $mobile) {
					display: none;
				}
			}
		}

		&_bottom {
			.reviews-page & {
				@media (max-width: $mobile) {
					display: block;
					margin-top: toRem(20);
				}
			}
		}
	}

	&__item {
		&_text {
			display: flex;
			flex-direction: column;
			.reviews-cases__img,
			.reviews-cases__user-company,
			.case2__link {
				display: none;
			}
			.reviews-cases__user {
				margin-top: auto;
			}
			.case__link {
				order: 3;
				margin-bottom: toRem(0);
			}
			.reviews-cases__body {
				aspect-ratio: initial;
				background-color: initial;
				img {
					max-height: initial;
				}
			}
		}
	}
}

.cases-page {
	&__body {
		.reviews-page & {
			grid-template-columns: repeat(4, 1fr);
			margin-bottom: 0;
			gap: toRem(40);

			@media (max-width: $pc) {
				grid-template-columns: repeat(3, 1fr);
				gap: toRem(30);
			}

			@media (max-width: $mobile) {
				grid-template-columns: 1fr 1fr;
			}

			@media (max-width: 28.125rem) {
				grid-template-columns: 1fr;
				gap: toRem(20);
			}
		}
	}

	&__help {
		.reviews-page & {
			margin-top: toRem(80);

			@media (max-width: $pc) {
				margin-top: toRem(70);
			}

			@media (max-width: $tablet) {
				margin-top: toRem(60);
			}

			@media (max-width: $mobileXSmall) {
				margin-top: toRem(50);
			}
		}
	}
}

.asideblog {
	&__top {
		.reviews-page & {
			align-items: flex-end;
		}
	}
}

.cases {
	&__title {
		.reviews-page & {
			@media (max-width: $tablet) {
				text-align: left;
			}

			@media (max-width: $mobile) {
				text-align: center;
			}
		}
	}
}

.reviews-cases__button {
	width: 3.5rem;
	aspect-ratio: 1/1;
	img {
		transition: opacity 0.2s ease-in-out;
		position: absolute;
		top: 0;
		left: 0;
	}
	position: relative;
	cursor: pointer;
	.reviews-cases {
		&__img-active {
			opacity: 0;
		}
	}
	&:hover {
		.reviews-cases {
			&__img-active {
				opacity: 1;
			}
		}
		.reviews-cases {
			&__img-no-active {
				opacity: 0;
			}
		}
	}
}
