.main {
}
.anpia {
}
.reviews-page {

		&__content {
		}

		&__top {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__full {
			margin-bottom: toRem(100);
			@media (max-width:$pc){
				 margin-bottom: toRem(80);
			}
			@media (max-width:$tablet){
				 margin-bottom: toRem(50);
			}
			@media (max-width:$mobileSmall){
				 margin-bottom: toRem(30); 
			}

		}
}
.container {
}
.blogs {

		&__top {
		}

		&__page {
		}

		&__title {
			.reviews-page & {
				margin-bottom: 0;
			}
		}

		&__form {
		}
}
.page-top {

		&__item {

			&_active {
			}
		}
}
.reviews-cases {

		&__actions {
			
		}

		&__link {
.reviews-page & {
				display: inline-flex;
			}
		}

		&__text {
		}

		&__item {
		}

		&__img {
		}

		&__body {
		}

		&__button {
		}

		&__user {
		}

		&__user-name {
		}

		&__user-company {
		}
}
.arrow-svg {
}
.cases-page {

		&__body {
			.reviews-page & {
				grid-template-columns: repeat(4, 1fr);
				margin-bottom: 0;
			}
		}

		&__help {
		}
}
.swiper-slide {
}
.case {

		&__link {
		}

		&__list {
		}

		&__item {
		}

		&__item--yandex {
		}

		&__orders {
		}

		&__overlay {
		}

		&__overlay-wrap {
		}

		&__overlay-wrap--goggle {
		}

		&__img {
		}

		&__overlay-link {
		}

		&__overlay-wrap--yandex {
		}

		&__overlay-link--yandex {
		}
}
.case2 {

		&__link {
		}

		&__wrap {
		}

		&__client-link {
		}

		&__tabs {
		}

		&__img-wrap {
		}

		&__img {
		}

		&__img-link {
		}

		&__info {
		}
}
.button {
}
.js-open-modal {
}
.posts {

		&__pagination {
		}

		&__pagination-list {
		}

		&__pagination-item {

			&_active {
			}

			&_more {
			}
		}

		&__pagination-item--left {
		}

		&__pagination-link {
		}

		&__pagination-item--right {
		}
}
.dots {
}
.example {

		&__other {
		}

		&__slider {
		}
}
.asideblog {

		&__top {
		}
}
.article-blog {

		&__subtitle {
		}
}
.clients {

		&__show-all {
		}
}
.popular {

		&__control {
		}
}
.swiper-wrapper {
}
.cases {

		&__item {
		}

		&__slider3 {
		}

		&__slide3 {
		}
}
.tabs {

		&__list {
		}

		&__panel {
		}

		&__element {
		}

		&__dots {
		}

		&__dot {
		}

		&__btns {
		}

		&__next {
		}

		&__btn {
		}

		&__prev {
		}
}
.options {

		&__list {
		}

		&__item {
		}

		&__item--google {
		}

		&__item--yandex {
		}

		&__item--traffic {
		}
}
.tab {
}
.active {
}
.tab2 {
}
.swiper {
}
.swiper-initialized {
}
.swiper-horizontal {
}
.swiper-backface-hidden {
}
.swiper-wrapper-wrap {
}
.swiper-slide-active {
}
.swiper-notification {
}
.forward {
}
.back {
}
.help-cases {

		&__pcnote {
		}

		&__link {

			&_tg {
			}

			&_whatsApp {
			}
		}

		&__img {
		}
}
.seo {

		&__title {
		}

		&__text {
		}
}
.career-aside {

		&__list {
		}
}
.callback {

		&__wrap {
		}

		&__text {
		}

		&__img-wrap {
		}

		&__img {
		}

		&__icon {
		}

		&__list {
		}

		&__list--circle {
		}

		&__item {
		}

		&__link {
		}

		&__link--circle {
		}

		&__link--telegram {
		}

		&__link--whatsapp {
		}

		&__link--vk {
		}
}

.form-callback {
}
.visually-hidden {
}
.callback-form {

		&__wrap {
		}

		&__title {
		}

		&__close-btn {
		}
}
